@{
    ViewBag.Title = "Земельный запас";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.12.4.js"></script>

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.0.js"></script>

<link href="~/Content/ol.css" rel="stylesheet" />
<script src="~/Scripts/ol.js"></script>

<script src="~/Scripts/inputmask.js"></script>
<script src="~/Scripts/jquery.inputmask.js"></script>
<script src="~/Scripts/inputmask.numeric.extensions.js"></script>

<script src="~/Scripts/jquery.flot.js"></script>
<script src="~/Scripts/jquery.flot.resize.js"></script>
<script src="~/Scripts/jquery.flot.pie.js"></script>

<script src="~/Scripts/loadingoverlay.js"></script>

<style>
    .ui-dialog,
    .ui-dialog:before,
    .ui-dialog:after {
        box-sizing: content-box;
    }

    .toppanel {
        height: 70px;
        background-color: darkgreen;
    }

    .sidepanel {
        background: #d2d2d2;
        width: 350px;
        height: 100%;
        float: right;
        overflow: auto;
    }

    .sidepanel-hide {
        top: .5em;
        right: .5em;
    }

    .map {
        overflow: hidden;
        height: 100%;
    }

    .split {
        height: 40px;
        background-color: #77ab3f;
        color: #ffffff;
        cursor: pointer;
        border: 1px solid black;
        border-color: #d2d2d2;
    }

    .show {
        font-weight: normal;
        display: block;
    }

    .transparancy {
        font-weight: normal;
    }

    .ol-attribution ul {
        font-size: 1rem;
    }

    #layertree li > span {
        cursor: pointer;
        color: #444444;
        font-weight: bold;
    }
</style>

@* Карта *@
<div id="maindiv">
    <div class="toppanel" style="background: url(../Images/Home/fon.jpg) repeat top left;">
        <div style="height: 40px; float: left; margin-top: 10px;width: 56%;">
            <label style="padding: 10px; color: white; font-size: 24px;">
                Земельный запас РК
            </label>
        </div>
        <div style="float: right; margin-top: 10px;width: 44%;max-height: 40px;">
            <div>
                <input type="button" title="Меню" class="btn btn-default" onclick="ShowSidePanel()" style="background: url(../Images/Buttons/menu.png) no-repeat top left; background-size: contain; float: right; width: 39px; height: 40px; margin: 6px; margin-right: 12px;" />
                <input type="button" title="Домой" class="btn btn-default" onclick="ToHome()" style="background: url(../Images/Buttons/home.png) no-repeat top left; background-size: contain; float: right; width: 39px; height: 40px; margin: 6px;" />
                <input type="button" title="Поиск земельных запасов" class="btn btn-default" onclick="ShowFind()" style="background: url(../Images/Buttons/search.png) no-repeat top left; background-size: contain; float: right; width: 39px; height: 40px; margin: 6px;" />
                <input type="button" title="Поиск области, района, сельского округа" class="btn btn-default" onclick="ShowFindKATO()" style="background: url(../Images/Buttons/search_kato.png) no-repeat top left; background-size: contain; float: right; width: 39px; height: 40px; margin: 6px;" />
                <input type="button" title="Сводная информация" class="btn btn-default" onclick="Stat()" style="background: url(../Images/Buttons/stat.png) no-repeat top left; background-size: contain; float: right; width: 39px; height: 40px; margin: 6px;" />
                <input type="button" title="Легенда" class="btn btn-default" onclick="Legend()" style="background: url(../Images/Buttons/legend.png) no-repeat top left; background-size: contain; float: right; width: 39px; height: 40px; margin: 6px;" />
                @Html.DropDownList("MapSources", (IEnumerable<SelectListItem>)ViewBag.MapSources, htmlAttributes: new { @id = "MapSources", @class = "form-control", @style = "float: right; margin: 6px; width: 180px;", @onchange = "ChangeMapSource(this.value)" })
            </div>
        </div>
    </div>
    <div id="mapsidepanel" style="margin-bottom: 10px; width: 100%;">
        <div id="sidepanel" class="sidepanel">
            @* Слои *@
            <div class="split" id="title_layers">
                <label class="split_label">
                    <u>
                        Слои
                    </u>
                </label>
            </div>
            <div id="layertree" style="margin-top: 10px;">
                <ul>
                    <li>
                        <span>
                            <u>
                                Базовые слои
                            </u>
                        </span>
                        <ul>
                            <li>
                                <span>
                                    <label>
                                        <u>
                                            Населенные пункты
                                        </u>
                                    </label>
                                </span>
                                <fieldset id="layer8">
                                    <label class="checkbox" for="visible8">
                                        <input id="visible8" class="visible" type="checkbox" />Отображать
                                    </label>
                                    <label>Прозрачность</label>
                                    <input class="opacity" type="range" min="0" max="100" step="1" />
                                </fieldset>
                            </li>
                            <li>
                                <span>
                                    <label>
                                        <u>
                                            Области, районы, сельские округа
                                        </u>
                                    </label>
                                </span>
                                <fieldset id="layer6">
                                    <label class="checkbox" for="visible6">
                                        <input id="visible6" class="visible" type="checkbox" />Отображать
                                    </label>
                                    <label>Прозрачность</label>
                                    <input class="opacity" type="range" min="0" max="100" step="1" />
                                </fieldset>
                            </li>
                            <li>
                                <span>
                                    <label>
                                        <u>
                                            Дороги
                                        </u>
                                    </label>
                                </span>
                                <fieldset id="layer5">
                                    <label class="checkbox" for="visible5">
                                        <input id="visible5" class="visible" type="checkbox" />Отображать
                                    </label>
                                    <label>Прозрачность</label>
                                    <input class="opacity" type="range" min="0" max="100" step="1" />
                                </fieldset>
                            </li>
                            <li>
                                <span>
                                    <label>
                                        <u>
                                            Реки, озера
                                        </u>
                                    </label>
                                </span>
                                <fieldset id="layer10">
                                    <label class="checkbox" for="visible10">
                                        <input id="visible10" class="visible" type="checkbox" />Отображать
                                    </label>
                                    <label>Прозрачность</label>
                                    <input class="opacity" type="range" min="0" max="100" step="1" />
                                </fieldset>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <u>
                                Земельный запас
                            </u>
                        </span>
                        <fieldset id="layer1">
                            <label class="checkbox" for="visible1">
                                <input id="visible1" class="visible" type="checkbox" />Отображать
                            </label>
                            <label>Прозрачность</label>
                            <input class="opacity" type="range" min="0" max="100" step="1" />
                        </fieldset>
                    </li>
                    <li>
                        <span>
                            <u>
                                Фон
                            </u>
                        </span>
                        <fieldset id="layer0">
                            <label class="checkbox" for="visible0">
                                <input id="visible0" class="visible" type="checkbox" />Отображать
                            </label>
                            <label>Прозрачность</label>
                            <input class="opacity" type="range" min="0" max="100" step="1" />
                        </fieldset>
                    </li>
                </ul>
            </div>
        </div>
        <div class="map" id="map_swipe">
            <input id="swipe" type="range" style="width: 100%; max-width: 100%;" value="100" hidden="hidden">
            <div id="map" class="map" style="height: 100%;">
            </div>
        </div>
    </div>
</div>

@* Окно информации о земельном запасе *@
<div id="dialog_info_zz" title="Информация" hidden="hidden" style="box-sizing: content-box;">
    <table>
        <tr>
            <td>
                Тип использования земель
            </td>
            <td id="info_type_k" style="padding-left: 10px;"></td>
        </tr>
        <tr>
            <td>
                Тип доминирующего пастбища
            </td>
            <td id="info_dominant_t" style="padding-left: 10px;"></td>
        </tr>
        <tr>
            <td>
                Среднегодовая урожайность, ц/га
            </td>
            <td id="info_ur_avgyear" style="padding-left: 10px;"></td>
        </tr>
        <tr>
            <td>
                Средний кормозапас, ц
            </td>
            <td id="info_korm_avgye" style="padding-left: 10px;"></td>
        </tr>
        <tr>
            <td>
                Рекомендация по сезонам
            </td>
            <td id="info_s_recomend" style="padding-left: 10px;"></td>
        </tr>
    </table>
</div>

@* Окно поиска *@
<div id="dialog_find_zz" title="Поиск земельных запасов" hidden="hidden" style="box-sizing: content-box;">
    <table>
        <tr>
            <td>
                Тип использования земель
            </td>
            <td style="padding-left: 10px;">
                @Html.DropDownList("SType", (IEnumerable<SelectListItem>)ViewBag.STypes, "", htmlAttributes: new { @class = "form-control", @id = "find_ZType" })
            </td>
        </tr>
        <tr>
            <td>
                Тип доминирующего пастбища
            </td>
            <td style="padding-left: 10px;">
                @Html.DropDownList("DominantType", (IEnumerable<SelectListItem>)ViewBag.DominantTypes, "", htmlAttributes: new { @class = "form-control", @id = "find_DominantType" })
            </td>
        </tr>
        <tr>
            <td>
                Среднегодовая урожайность, ц/га
            </td>
            <td style="padding-left: 10px;">
                <input type="text" id="find_ur_avgyear_1" class="form-control" style="width: 110px; display: inline;" /> - <input type="text" id="find_ur_avgyear_2" class="form-control" style="width: 110px; display: inline;" />
            </td>
        </tr>
        <tr>
            <td>
                Средний кормозапас, ц
            </td>
            <td style="padding-left: 10px;">
                <input type="text" id="find_korm_avgye_1" class="form-control" style="width: 110px; display: inline;" /> - <input type="text" id="find_korm_avgye_2" class="form-control" style="width: 110px; display: inline;" />
            </td>
        </tr>
        <tr>
            <td>
                Рекомендация по сезонам
            </td>
            <td style="padding-left: 10px;">
                @Html.DropDownList("Recommend", (IEnumerable<SelectListItem>)ViewBag.Recommends, "", htmlAttributes: new { @class = "form-control", @id = "find_Recommend" })
            </td>
        </tr>
    </table>
    <br />
    <input type="button" value="Найти" name="Action" onclick="Find();" class="btn btn-default" />
</div>

@* Окно поиска КАТО *@
<div id="dialog_find_kato" title="Поиск области, района" hidden="hidden" style="box-sizing: content-box;">
    <table>
        <tr>
            <td style="padding-left: 10px;">
                @Html.DropDownList("catoobl", null, "", htmlAttributes: new { @Id = "catoobl", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td id="CATOray" style="padding-left: 10px;">
                @Html.DropDownList("catoray", Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @Id = "catoray", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td id="CATOsok" style="padding-left: 10px;">
                @Html.DropDownList("catosok", Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @Id = "catosok", @class = "form-control" })
            </td>
        </tr>
    </table>
</div>

@* Окно статистики *@
<div id="dialog_stat" title="Сводная информация" hidden="hidden" style="box-sizing: content-box;">
    <table>
        <tr>
            <td style="padding-left: 10px;">
                @Html.DropDownList("catoobl", null, "", htmlAttributes: new { @Id = "catoobl_stat", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td id="CATOray" style="padding-left: 10px;">
                @Html.DropDownList("catoray", Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @Id = "catoray_stat", @class = "form-control" })
            </td>
        </tr>
    </table>
    <br />
    <input type="button" value="Информация" name="Action" onclick="GetCATOInfo();" class="btn btn-default" />
</div>

@* Окно информации о КАТО *@
<div id="dialog_info_kato" title="Сводная информация об административной единице" hidden="hidden" style="box-sizing: content-box;">
    <div id="tabs_info_kato" style="height:100%; width:100%;">
        <ul>
            <li><a href="#tabs4">Урожайность, кормозапас</a></li>
            <li><a href="#tabs1">Структура земель</a></li>
            <li><a href="#tabs3">Рекомендации по сезонам</a></li>
        </ul>
        <div id="tabs4" style="height:calc(100% - 50px); width:100%;">
            <table>
                <tr>
                    <td>
                        Среднегодовая урожайность, ц/га
                    </td>
                    <td id="info_kato_ur_avgyear" style="padding-left: 10px;"></td>
                </tr>
                <tr>
                    <td>
                        Средний кормозапас, ц
                    </td>
                    <td id="info_kato_korm_avgye" style="padding-left: 10px;"></td>
                </tr>
            </table>
        </div>
        <div id="tabs1" style="height:calc(100% - 50px); width:100%;"></div>
        <div id="tabs3" style="height:calc(100% - 50px); width:100%;"></div>
    </div>
</div>

@* Окно легенды *@
<div id="dialog_legend" title="Легенда" hidden="hidden" style="box-sizing: content-box;">
    <img src="~/Images/Maps/zemfondpol150.jpg" style="width:550px;" />
</div>

<script>
    $("#maindiv").LoadingOverlay("show");

    var WWW = '@ViewBag.geoserverURL';

    var dialog_info_zz_first = true;
    var dialog_find_zz_first = true;
    var dialog_find_kato_first = true;
    var dialog_info_kato_first = true;
    var dialog_stat_first = true;
    var dialog_legend_first = true;

    // слой базовый
    var Layer_Base = new ol.layer.Tile({
        source: new ol.source.OSM()
    });

    // источник данных и слой Гидрография (линии)
    var Source_hdrlin = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:hdrlin',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_hdrlin =
        new ol.layer.Tile({
            source: Source_hdrlin
        });

    // источник данных и слой Гидрография (полигоны)
    var Source_hdrpol = new ol.source.ImageWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:hdrpol',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_hdrpol =
        new ol.layer.Image({
            source: Source_hdrpol
        });

    // источник данных и слой Населённые пункты (точки)
    var Source_poppnt = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:poppnt',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_poppnt =
        new ol.layer.Tile({
            source: Source_poppnt
        });

    // источник данных и слой Населённые пункты (полигоны)
    var Source_poppol = new ol.source.ImageWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:poppol',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_poppol =
        new ol.layer.Image({
            source: Source_poppol
        });

    // источник данных и слой Автодороги и пути (линии)
    var Source_rdslin = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:rdslin',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_rdslin =
        new ol.layer.Tile({
            source: Source_rdslin
        });

    // источник данных и слой adm123pol
    var Source_adm123pol = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:adm123pol',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_adm123pol =
        new ol.layer.Tile({
            source: Source_adm123pol
        });

    // векторный слой для поиска КАТО
    var Source_select_cato = new ol.source.Vector({});
    var Layer_select_cato = new ol.layer.Vector({
        source: Source_select_cato,
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: 'transparent'
            }),
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 4
            })
        })
    });

    // источник данных и слой zemfondpol
    var Source_zemfondpol = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:zemfondpol',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_zemfondpol =
        new ol.layer.Tile({
            source: Source_zemfondpol
        });

    // векторный слой выбранных земельных запасов
    var Source_select_zemfondpol = new ol.source.Vector({});
    var Layer_select_zemfondpol = new ol.layer.Vector({
        source: Source_select_zemfondpol,
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: [0, 0, 255, 1]
            }),
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 2
            })
        })
    });

    // векторный слой найденных земельных запасов
    var Source_found_zemfondpol = new ol.source.Vector({});
    var Layer_found_zemfondpol = new ol.layer.Vector({
        source: Source_found_zemfondpol,
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: [0, 0, 0, 0.6]
            }),
            stroke: new ol.style.Stroke({
                color: [0, 0, 255, 1],
                width: 2
            })
        })
    });

    // векторный слой земельных запасов (не отображается на карте)
    var Layer_zemfondpol_v = new ol.layer.Vector();
    // векторный слой областей (не отображается на карте)
    var Layer_adm1pol_v = new ol.layer.Vector();
    // векторный слой районов (не отображается на карте)
    var Layer_adm2pol_v = new ol.layer.Vector();
    // векторный слой сельских округов (не отображается на карте)
    var Layer_adm3pol_v = new ol.layer.Vector();
    // векторный слой земельных запасов
    var url_zemfondpol_v = WWW + "Pastures/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=Pastures:zemfondpol&outputFormat=text/javascript&format_options=callback:getJson";
    $.ajax({
        jsonp: false,
        jsonpCallback: 'getJson',
        type: 'GET',
        url: url_zemfondpol_v,
        async: false,
        dataType: 'jsonp',
        success: function (data_zemfondpol_v) {
            Layer_zemfondpol_v = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: (new ol.format.GeoJSON()).readFeatures(data_zemfondpol_v, {
                        featureProjection: 'EPSG:3857'
                    })
                })
            });
            // векторный слой областей
            var url_adm1pol_v = WWW + "Pastures/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=Pastures:adm1pol&outputFormat=text/javascript&format_options=callback:getJson";
            $.ajax({
                jsonp: false,
                jsonpCallback: 'getJson',
                type: 'GET',
                url: url_adm1pol_v,
                async: false,
                dataType: 'jsonp',
                success: function (data_adm1pol_v) {
                    Layer_adm1pol_v = new ol.layer.Vector({
                        source: new ol.source.Vector({
                            features: (new ol.format.GeoJSON()).readFeatures(data_adm1pol_v, {
                                featureProjection: 'EPSG:3857'
                            })
                        })
                    });
                    // векторный слой районов
                    var url_adm2pol_v = WWW + "Pastures/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=Pastures:adm2pol&outputFormat=text/javascript&format_options=callback:getJson";
                    $.ajax({
                        jsonp: false,
                        jsonpCallback: 'getJson',
                        type: 'GET',
                        url: url_adm2pol_v,
                        async: false,
                        dataType: 'jsonp',
                        success: function (data_adm2pol_v) {
                            Layer_adm2pol_v = new ol.layer.Vector({
                                source: new ol.source.Vector({
                                    features: (new ol.format.GeoJSON()).readFeatures(data_adm2pol_v, {
                                        featureProjection: 'EPSG:3857'
                                    })
                                })
                            });
                            // векторный слой сельских округов
                            var url_adm3pol_v = WWW + "Pastures/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=Pastures:adm3pol&outputFormat=text/javascript&format_options=callback:getJson";
                            $.ajax({
                                jsonp: false,
                                jsonpCallback: 'getJson',
                                type: 'GET',
                                url: url_adm3pol_v,
                                async: false,
                                dataType: 'jsonp',
                                success: function (data_adm3pol_v) {
                                    Layer_adm3pol_v = new ol.layer.Vector({
                                        source: new ol.source.Vector({
                                            features: (new ol.format.GeoJSON()).readFeatures(data_adm3pol_v, {
                                                featureProjection: 'EPSG:3857'
                                            })
                                        })
                                    });
                                    $("#maindiv").LoadingOverlay("hide");
                                }
                            });
                        }
                    });
                }
            });
        }
    });

    // правая панель
    window.app = {};
    var app = window.app;
    app.ShowHideSidePanel = function (opt_options) {
        var options = opt_options || {};
        var button = document.createElement('button');
        button.id = "sidepanelshowhide";
        button.innerHTML = '«';
        var this_ = this;
        var handleShowHideSidePanel = function () {
            if (document.getElementById("sidepanel").offsetWidth == 0) {
                document.getElementById('sidepanel').setAttribute("style", "width:350px");
                document.getElementById('sidepanel').setAttribute("style", "display:block");
                button.innerHTML = '»';
                map.updateSize();
            }
            else {
                document.getElementById('sidepanel').setAttribute("style", "width:0px");
                document.getElementById('sidepanel').setAttribute("style", "display:none");
                button.innerHTML = '«';
                map.updateSize();
            }
        };
        button.addEventListener('click', handleShowHideSidePanel, false);
        var element = document.createElement('div');
        element.className = 'sidepanel-hide ol-unselectable ol-control';
        element.appendChild(button);
        ol.control.Control.call(this, {
            element: element,
            target: options.target
        });
    }
    ol.inherits(app.ShowHideSidePanel, ol.control.Control);
    function ShowSidePanel() {
        if (document.getElementById("sidepanel").offsetWidth == 0) {
            document.getElementById('sidepanel').setAttribute("style", "width:350px");
            document.getElementById('sidepanel').setAttribute("style", "display:block");
            document.getElementById('sidepanelshowhide').innerHTML = '»';
            map.updateSize();
        }
        else {
            document.getElementById('sidepanel').setAttribute("style", "width:0px");
            document.getElementById('sidepanel').setAttribute("style", "display:none");
            document.getElementById('sidepanelshowhide').innerHTML = '«';
            map.updateSize();
        }
        map.updateSize();
    };

    // элемент карты - информация
    var attribution = new ol.control.Attribution({
        label: 'i',
        collapsed: true,
        tipLabel: ''
    });

    // элемент zoom
    var zoom = new ol.control.Zoom({
        zoomInTipLabel: '',
        zoomOutTipLabel: ''
    });

    // вид
    var view = new ol.View({
        projection: 'EPSG:3857',
        center: [7447522, 6202316],
        zoom: 5
    });

    // карта
    var map = new ol.Map({
        controls: ol.control.defaults({
            attribution: false,
            zoom: false
        }).extend([
            new ol.control.ScaleLine({ units: 'metric' }),
            new app.ShowHideSidePanel(),
            attribution,
            zoom
        ]),
        layers: [
            Layer_Base,                 // 0
            Layer_zemfondpol,           // 1
            Layer_found_zemfondpol,     // 2
            Layer_select_zemfondpol,    // 3
            Layer_hdrlin,               // 5
            Layer_rdslin,               // 6
            Layer_adm123pol,            // 7
            Layer_select_cato,          // 8
            Layer_poppol,               // 9
            Layer_poppnt,               // 10
            Layer_hdrpol                // 4
            ],
        target: 'map',
        view: view
    });

    // permalink
    var minzoom;
    if (window.location.hash !== '') {
        var hash = window.location.hash.replace('#map=', '');
        var parts = hash.split('/');
        if (parts.length === 4) {
            var zoom = parseInt(parts[0], 10);
            var center = [
              parseFloat(parts[1]),
              parseFloat(parts[2])
            ];
            view = new ol.View({
                projection: 'EPSG:3857',
                center: center,
                zoom: zoom
            });
            map.setView(view);

            rotation = parseFloat(parts[3]);
        }
    }
    var shouldUpdate = true;
    window.addEventListener('popstate', function (event) {
        if (event.state === null) {
            return;
        }
        map.getView().setCenter(event.state.center);
        map.getView().setZoom(event.state.zoom);
        map.getView().setRotation(event.state.rotation);
        shouldUpdate = false;
    });

    // ограничение карты, permalink
    var ex = map.getView().calculateExtent(map.getSize());
    function onMoveEnd(evt) {
        // permalink
        if (!shouldUpdate) {
            shouldUpdate = true;
            return;
        }
        var center = view.getCenter();
        var hash = '#map=' +
            view.getZoom() + '/' +
            Math.round(center[0] * 100) / 100 + '/' +
            Math.round(center[1] * 100) / 100 + '/' +
            view.getRotation();
        var state = {
            zoom: view.getZoom(),
            center: view.getCenter(),
            rotation: view.getRotation()
        };
        window.history.pushState(state, 'map', hash);

        if ($('#visible8').is(":checked")) {
            if (map.getView().getZoom() < 10) {
                Layer_poppnt.setVisible(false);
            }
            else {
                Layer_poppnt.setVisible(true);
            }
        }
        if ($('#visible10').is(":checked")) {
            if (map.getView().getZoom() < 8) {
                Layer_hdrlin.setVisible(false);
            }
            else {
                Layer_hdrlin.setVisible(true);
            }
        }
    }
    map.on('moveend', onMoveEnd);

    // функция нажатия на карту
    map.on('singleclick', function (evt) {

        Source_select_zemfondpol.clear();

        document.getElementById("info_type_k").innerHTML = "";
        document.getElementById("info_dominant_t").innerHTML = "";
        document.getElementById("info_ur_avgyear").innerHTML = "";
        document.getElementById("info_korm_avgye").innerHTML = "";
        document.getElementById("info_s_recomend").innerHTML = "";

        var viewResolution = (view.getResolution());
        var url_zemfondpol = Source_zemfondpol.getGetFeatureInfoUrl(
            evt.coordinate, viewResolution, 'EPSG:3857',
            {
                'INFO_FORMAT': 'text/javascript',
                'propertyName': 'objectid,geom'
            });
        if (url_zemfondpol) {
            // данные со слоев
            jQuery.ajax({
                jsonp: false,
                jsonpCallback: 'getJson',
                type: 'GET',
                url: url_zemfondpol + "&format_options=callback:getJson",
                async: false,
                dataType: 'jsonp',
                error: function () {
                }
            }).then(function (data) {
                // если слой земельных запасов включен
                if (Layer_zemfondpol.getVisible()) {
                    if (data.features.length > 0) {
                        // работа с земельным запасом в виде вектора (выделение земельного запаса)
                        var polyFeature = new ol.Feature({
                            geometry: new ol.geom.MultiPolygon(data.features[0].geometry.coordinates)
                        });
                        Source_select_zemfondpol.addFeature(polyFeature);

                        // получение информации о земельном запасе
                        $.ajax({
                            url: '@Url.Action("GetZZInfo")',
                            data: JSON.stringify({ "objectid": data.features[0].properties.objectid }),
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                document.getElementById("info_type_k").innerHTML = data.type_k;
                                document.getElementById("info_dominant_t").innerHTML = data.dominant_t;
                                document.getElementById("info_ur_avgyear").innerHTML = data.ur_avgyear;
                                document.getElementById("info_korm_avgye").innerHTML = data.korm_avgye;
                                document.getElementById("info_s_recomend").innerHTML = data.s_recomend;
                            },
                            error: function () {
                            }
                        });
                        // отображение информации о земельном запасе
                        if (dialog_info_zz_first) {
                            dialog_info_zz_first = false;
                            $("#dialog_info_zz").dialog({
                                width: 500,
                                height: 220,
                            });
                        }
                        else {
                            $("#dialog_info_zz").dialog({});
                        }
                    }
                }
            });
        }
    });

    // смена базового слоя
    function ChangeMapSource(val) {
        if (val == 'OpenStreetMap') {
            var Source = new ol.source.OSM({});
            Layer_Base.setSource(Source);
        }
        if (val == 'ArcGIS') {
            var attribution = new ol.Attribution({
                html: 'Tiles © <a href="http://services.arcgisonline.com/ArcGIS/' +
                    'rest/services/World_Topo_Map/MapServer">ArcGIS</a>'
            });
            var Source = new ol.source.XYZ({
                attributions: [attribution],
                url: 'http://server.arcgisonline.com/ArcGIS/rest/services/' +
                    'World_Topo_Map/MapServer/tile/{z}/{y}/{x}'
            });
            Layer_Base.setSource(Source);
        }
        if (val == 'Bing') {
            var Source = new ol.source.BingMaps({
                key: 'AjVI_sNKERaeUVpMkNw8Xci1a-5HlLKZAVHayk_jg9dutb1dM5NCeA_d7bzT_0Rp',
                imagerySet: 'Road'
            });
            Layer_Base.setSource(Source);
        }
        if (val == 'BingAerial') {
            var Source = new ol.source.BingMaps({
                key: 'AjVI_sNKERaeUVpMkNw8Xci1a-5HlLKZAVHayk_jg9dutb1dM5NCeA_d7bzT_0Rp',
                imagerySet: 'AerialWithLabels'
            });
            Layer_Base.setSource(Source);
        }
    };

    // домой
    function ToHome() {
        map.getView().fit([5175092, 7455797, 9719952, 4948835], map.getSize());
        $("#MapSources").val("OpenStreetMap");
        var Source = new ol.source.OSM({});
        Layer_Base.setSource(Source);
        Source_select_zemfondpol.clear();
        Source_found_zemfondpol.clear();
        Source_select_cato.clear();
        $("#catoobl").val('');
        $("#catoray").val('');
        $("#catoray").empty();
    };

    // отображать, скрывать слои; настраивать их прозрачность
    function bindInputs(layerid, layer) {
        var visibilityInput = $(layerid + ' input.visible');
        visibilityInput.on('change', function () {
            layer.setVisible(this.checked);
            if (layerid == '#layer1') {
                Layer_found_zemfondpol.setVisible(this.checked);
                Layer_select_zemfondpol.setVisible(this.checked);
            }
            if (layerid == '#layer10') {
                Layer_hdrlin.setVisible(this.checked);
                if (map.getView().getZoom() < 8) {
                    Layer_hdrlin.setVisible(false);
                }
            }
            if (layerid == '#layer6') {
                Layer_select_cato.setVisible(this.checked);
            }
            if (layerid == '#layer8') {
                Layer_poppnt.setVisible(this.checked);
                if (map.getView().getZoom() < 10) {
                    Layer_poppnt.setVisible(false);
                }
            }
        });
        visibilityInput.prop('checked', layer.getVisible());
        var opacityInput = $(layerid + ' input.opacity');
        opacityInput.on('input change', function () {
            layer.setOpacity(parseFloat(this.value / 100));
            if (layerid == '#layer1') {
                Layer_select_zemfondpol.setOpacity(parseFloat(this.value / 100));
                Layer_found_zemfondpol.setOpacity(parseFloat(this.value / 100));
            }
            if (layerid == '#layer10') {
                Layer_hdrlin.setOpacity(parseFloat(this.value / 100));
            }
            if (layerid == '#layer6') {
                Layer_select_cato.setOpacity(parseFloat(this.value / 100));
            }
            if (layerid == '#layer8') {
                Layer_poppnt.setOpacity(parseFloat(this.value / 100));
            }
        });
        opacityInput.val(String(layer.getOpacity() * 100));
        if (map.getView().getZoom() < 10) {
            Layer_poppnt.setVisible(false);
        }
        if (map.getView().getZoom() < 8) {
            Layer_hdrlin.setVisible(false);
        }
    };
    map.getLayers().forEach(function (layer, i) {
        bindInputs('#layer' + i, layer);
    });
    $('#layertree li > span').click(function () {
        $(this).siblings('fieldset').toggle();
    }).siblings('fieldset').hide();
    $('#title_layers').click(function () {
        $('#layertree').toggle();
    })

    // окно поиска земельных запасов
    function ShowFind() {
        Source_found_zemfondpol.clear();
        if (dialog_find_zz_first) {
            dialog_find_zz_first = false;
            $("#dialog_find_zz").dialog({
                width: 500,
                height: 370,
            });
        }
        else {
            $("#dialog_find_zz").dialog({ });
        }
    };

    // поиск земельных запасов
    function Find() {
        Source_found_zemfondpol.clear();
        var count = 0;
        for (i = 0; i < Layer_zemfondpol_v.getSource().getFeatures().length; i++) {
            var feature = Layer_zemfondpol_v.getSource().getFeatures()[i];
            if ((document.getElementById("find_ZType").options[document.getElementById("find_ZType").selectedIndex].value != '') && (feature.getProperties().type_k != document.getElementById("find_ZType").options[document.getElementById("find_ZType").selectedIndex].value)) {
                continue;
            }
            if ((document.getElementById("find_DominantType").options[document.getElementById("find_DominantType").selectedIndex].value != '') && (feature.getProperties().dominant_t != document.getElementById("find_DominantType").options[document.getElementById("find_DominantType").selectedIndex].value)) {
                continue;
            }
            if ((document.getElementById("find_ur_avgyear_1").value != '') && (parseFloat(feature.getProperties().ur_avgyear) < parseFloat(document.getElementById("find_ur_avgyear_1").value))) {
                continue;
            }
            if ((document.getElementById("find_ur_avgyear_2").value != '') && (parseFloat(feature.getProperties().ur_avgyear) > parseFloat(document.getElementById("find_ur_avgyear_2").value))) {
                continue;
            }
            if ((document.getElementById("find_korm_avgye_1").value != '') && (parseFloat(feature.getProperties().ur_avgyear) < parseFloat(document.getElementById("find_korm_avgye_1").value))) {
                continue;
            }
            if ((document.getElementById("find_korm_avgye_2").value != '') && (parseFloat(feature.getProperties().korm_avgye) > parseFloat(document.getElementById("find_korm_avgye_2").value))) {
                continue;
            }
            if ((document.getElementById("find_Recommend").options[document.getElementById("find_Recommend").selectedIndex].value != '') && (feature.getProperties().s_recomend != document.getElementById("find_Recommend").options[document.getElementById("find_Recommend").selectedIndex].value)) {
                continue;
            }
            Source_found_zemfondpol.addFeature(feature);
            count++;
        }
    };

    // маска поиска земельных запасов
    var im = new Inputmask("9-99");
    im.mask(document.getElementById("find_ur_avgyear_1"));
    Inputmask({ "mask": "9,99" }).mask(document.getElementById("find_ur_avgyear_1"));
    $('#find_ur_avgyear_1').inputmask({ "placeholder": "0" });
    im.mask(document.getElementById("find_ur_avgyear_2"));
    Inputmask({ "mask": "9,99" }).mask(document.getElementById("find_ur_avgyear_2"));
    $('#find_ur_avgyear_2').inputmask({ "placeholder": "0" });
    im = new Inputmask("9-999-999");
    im.mask(document.getElementById("find_korm_avgye_1"));
    Inputmask({ "mask": "9 999 999" }).mask(document.getElementById("find_korm_avgye_1"));
    $('#find_korm_avgye_1').inputmask({ "placeholder": "0" });
    im.mask(document.getElementById("find_korm_avgye_2"));
    Inputmask({ "mask": "9 999 999" }).mask(document.getElementById("find_korm_avgye_2"));
    $('#find_korm_avgye_2').inputmask({ "placeholder": "0" });

    // окно поиска КАТО
    function ShowFindKATO() {
        if (dialog_find_kato_first) {
            dialog_find_kato_first = false;
            $("#dialog_find_kato").dialog({
                width: 350,
                height: 200,
            });
        }
        else {
            $("#dialog_find_kato").dialog({ });
        }
    };

    // поиск области
    $("#catoobl").change(function () {
        if (document.getElementById("catoobl").options[document.getElementById("catoobl").selectedIndex].value == '') {
            $("#catoray").empty();
            $("#catosok").empty();
            Source_select_cato.clear();
        }
        else {
            $("#catosok").empty();
            for (var f = 0; f < Layer_adm1pol_v.getSource().getFeatures().length; f++) {
                if (Layer_adm1pol_v.getSource().getFeatures()[f].get('kato_te') == document.getElementById("catoobl").options[document.getElementById("catoobl").selectedIndex].value) {
                    // копирование области в векторный слой для поиска КАТО
                    Source_select_cato.clear();
                    var polyFeature = new ol.Feature({
                        geometry: Layer_adm1pol_v.getSource().getFeatures()[f].getGeometry()
                    });
                    Source_select_cato.addFeature(polyFeature);
                    // формирование списка районов
                    $.ajax({
                        url: '@Url.Action("GetCATORayons")',
                        data: JSON.stringify({ "oblcatote": Layer_adm1pol_v.getSource().getFeatures()[f].get('kato_te') }),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $("#catoray").empty();
                            $.each(data, function (i, d) {
                                $('#catoray').append($('<option></option>').val(d.TE).html(d.Name));
                            });
                        },
                        error: function () {
                        }
                    });
                    var extent = Layer_adm1pol_v.getSource().getFeatures()[f].getGeometry().getExtent();
                    map.getView().fit(extent, map.getSize());
                    break;
                }
            }
        }
    });

    // поиск района
    $("#catoray").change(function () {
        if (document.getElementById("catoray").options[document.getElementById("catoray").selectedIndex].value == '') {
            $("#catosok").empty();
            Source_select_cato.clear();
        }
        else {
            for (var f = 0; f < Layer_adm2pol_v.getSource().getFeatures().length; f++) {
                if (Layer_adm2pol_v.getSource().getFeatures()[f].get('kato') == document.getElementById("catoray").options[document.getElementById("catoray").selectedIndex].value) {
                    // копирование района в векторный слой для поиска КАТО
                    Source_select_cato.clear();
                    var polyFeature = new ol.Feature({
                        geometry: Layer_adm2pol_v.getSource().getFeatures()[f].getGeometry()
                    });
                    Source_select_cato.addFeature(polyFeature);
                    // формирование списка сельских округов
                    $.ajax({
                        url: '@Url.Action("GetCATOSOkrugs")',
                        data: JSON.stringify({ "raycatote": Layer_adm2pol_v.getSource().getFeatures()[f].get('kato') }),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $("#catosok").empty();
                            $.each(data, function (i, d) {
                                $('#catosok').append($('<option></option>').val(d.TE).html(d.Name));
                            });
                        },
                        error: function () {
                        }
                    });
                    var extent = Layer_adm2pol_v.getSource().getFeatures()[f].getGeometry().getExtent();
                    map.getView().fit(extent, map.getSize());
                    break;
                }
            }
        }
    });

    // поиск сельского округа
    $("#catosok").change(function () {
        if (document.getElementById("catosok").options[document.getElementById("catosok").selectedIndex].value == '') {
            $("#catosok").empty();
            Source_select_cato.clear();
        }
        else {
            for (var f = 0; f < Layer_adm3pol_v.getSource().getFeatures().length; f++) {
                if (Layer_adm3pol_v.getSource().getFeatures()[f].get('kato_te') == document.getElementById("catosok").options[document.getElementById("catosok").selectedIndex].value) {
                    // копирование сельского округа в векторный слой для поиска КАТО
                    Source_select_cato.clear();
                    var polyFeature = new ol.Feature({
                        geometry: Layer_adm3pol_v.getSource().getFeatures()[f].getGeometry()
                    });
                    Source_select_cato.addFeature(polyFeature);
                    var extent = Layer_adm3pol_v.getSource().getFeatures()[f].getGeometry().getExtent();
                    map.getView().fit(extent, map.getSize());
                    break;
                }
            }
        }
    });

    // окно статистики
    function Stat() {
        document.getElementById("catoobl_stat").selectedIndex = document.getElementById("catoobl").selectedIndex;
        // формирование списка районов
        $("#catoray_stat").empty();
        if (document.getElementById("catoobl_stat").selectedIndex > 0) {
            $.ajax({
                url: '@Url.Action("GetCATORayons")',
                data: JSON.stringify({ "oblcatote": document.getElementById("catoobl_stat").options[document.getElementById("catoobl_stat").selectedIndex].value }),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#catoray_stat").empty();
                    $.each(data, function (i, d) {
                        $('#catoray_stat').append($('<option></option>').val(d.TE).html(d.Name));
                    });
                    document.getElementById("catoray_stat").selectedIndex = document.getElementById("catoray").selectedIndex;
                },
                error: function () {
                }
            });
        }
        if (dialog_stat_first) {
            dialog_stat_first = false;
            $("#dialog_stat").dialog({
                width: 350,
                height: 200,
                position: { my: "right", at: "center", of: window }
            });
        }
        else {
            $("#dialog_stat").dialog({});
        }
    };

    // поиск области (статистика)
    $("#catoobl_stat").change(function () {
        if (document.getElementById("catoobl_stat").options[document.getElementById("catoobl_stat").selectedIndex].value == '') {
            $("#catoray_stat").empty();
            Source_select_cato.clear();
        }
        else {
            for (var f = 0; f < Layer_adm1pol_v.getSource().getFeatures().length; f++) {
                if (Layer_adm1pol_v.getSource().getFeatures()[f].get('kato_te') == document.getElementById("catoobl_stat").options[document.getElementById("catoobl_stat").selectedIndex].value) {
                    // копирование области в векторный слой для поиска КАТО
                    Source_select_cato.clear();
                    var polyFeature = new ol.Feature({
                        geometry: Layer_adm1pol_v.getSource().getFeatures()[f].getGeometry()
                    });
                    Source_select_cato.addFeature(polyFeature);
                    // формирование списка районов
                    $.ajax({
                        url: '@Url.Action("GetCATORayons")',
                        data: JSON.stringify({ "oblcatote": Layer_adm1pol_v.getSource().getFeatures()[f].get('kato_te') }),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $("#catoray_stat").empty();
                            $.each(data, function (i, d) {
                                $('#catoray_stat').append($('<option></option>').val(d.TE).html(d.Name));
                            });
                        },
                        error: function () {
                        }
                    });
                    var extent = Layer_adm1pol_v.getSource().getFeatures()[f].getGeometry().getExtent();
                    map.getView().fit(extent, map.getSize());
                    break;
                }
            }
        }
    });

    // поиск района (статистика)
    $("#catoray_stat").change(function () {
        if (document.getElementById("catoray_stat").options[document.getElementById("catoray_stat").selectedIndex].value == '') {
            Source_select_cato.clear();
        }
        else {
            for (var f = 0; f < Layer_adm2pol_v.getSource().getFeatures().length; f++) {
                if (Layer_adm2pol_v.getSource().getFeatures()[f].get('kato') == document.getElementById("catoray_stat").options[document.getElementById("catoray_stat").selectedIndex].value) {
                    // копирование района в векторный слой для поиска КАТО
                    Source_select_cato.clear();
                    var polyFeature = new ol.Feature({
                        geometry: Layer_adm2pol_v.getSource().getFeatures()[f].getGeometry()
                    });
                    Source_select_cato.addFeature(polyFeature);
                    var extent = Layer_adm2pol_v.getSource().getFeatures()[f].getGeometry().getExtent();
                    map.getView().fit(extent, map.getSize());
                    break;
                }
            }
        }
    });

    // информация (статистика) о КАТО
    function GetCATOInfo() {
        $.ajax({
            url: '@Url.Action("GetCATOZZInfo")',
            data: JSON.stringify({ "catoobl": $('#catoobl_stat').val(), "catoray": $('#catoray_stat').val() }),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#tabs_info_kato").tabs();
                if (dialog_info_kato_first) {
                    dialog_info_kato_first = false;
                    $("#dialog_info_kato").dialog({
                        width: 800,
                        height: 430,
                        position: { my: "left", at: "center", of: window }
                    });
                }
                else {
                    $("#dialog_info_kato").dialog({});
                }
                $('#dialog_info_kato').dialog('option', 'title', 'Сводная информация об административной единице' + data.name);
                $.plot('#tabs1', data.ztypes, {
                    series: {
                        pie: {
                            show: true
                        }
                    }
                });
                $.plot('#tabs3', data.recommens, {
                    series: {
                        pie: {
                            show: true
                        }
                    }
                });
                document.getElementById("info_kato_ur_avgyear").innerHTML = data.ur_avgyear;
                document.getElementById("info_kato_korm_avgye").innerHTML = data.korm_avgye;
            },
            error: function () {
            }
        });
    };

    // окно легенды
    function Legend() {
        if (dialog_legend_first) {
            dialog_legend_first = false;
            $("#dialog_legend").dialog({
                width: 580,
                height: 500,
            });
        }
        else {
            $("#dialog_legend").dialog({});
        }
    };

    $(document).ready(function (e) {
        $("#MapSources").val("OpenStreetMap");

        // высота карты
        $("#mapsidepanel").height($(window).height() - 220);
        if ($("#mapsidepanel").height() < 440) {
            $("#mapsidepanel").height(440);
        }

        // скрыть правую панель
        document.getElementById('sidepanel').setAttribute("style", "width:0px");
        document.getElementById('sidepanel').setAttribute("style", "display:none");

        // домой
        map.getView().fit([5175092, 7455797, 9719952, 4948835], map.getSize());
        map.updateSize();
        map.getView().fit([5175092, 7455797, 9719952, 4948835], map.getSize());

        ex = map.getView().calculateExtent(map.getSize());

        view = new ol.View({
            projection: 'EPSG:3857',
            center: [7447522, 6202316],
            zoom: map.getView().getZoom(),
            minZoom: map.getView().getZoom()
        });
        map.setView(view);

        // permalink
        var hash = window.location.hash.replace('#map=', '');
        var parts = hash.split('/');
        if (parts.length === 4) {
            var zoom = parseInt(parts[0], 10);
            var center = [
              parseFloat(parts[1]),
              parseFloat(parts[2])
            ];
            view = new ol.View({
                projection: 'EPSG:3857',
                center: center,
                zoom: zoom,
                minZoom: minzoom
            });
            map.setView(view);
        }
    });

    window.addEventListener('resize', function (event) {
        // высота карты
        $("#mapsidepanel").height($(window).height() - 220);
        if ($("#mapsidepanel").height() < 440) {
            $("#mapsidepanel").height(440);
        }

        // скрыть правую панель
        document.getElementById('sidepanel').setAttribute("style", "width:0px");
        document.getElementById('sidepanel').setAttribute("style", "display:none");
        var button = document.getElementById('sidepanelshowhide');
        button.innerHTML = '«';

        // домой
        map.getView().fit([5175092, 7455797, 9719952, 4948835], map.getSize());
        map.updateSize();
        map.getView().fit([5175092, 7455797, 9719952, 4948835], map.getSize());

        ex = map.getView().calculateExtent(map.getSize());

        view = new ol.View({
            projection: 'EPSG:3857',
            center: [7447522, 6202316]
        });
        map.setView(view);

        // permalink
        var hash = window.location.hash.replace('#map=', '');
        var parts = hash.split('/');
        if (parts.length === 4) {
            var zoom = parseInt(parts[0], 10);
            var center = [
                parseFloat(parts[1]),
                parseFloat(parts[2])
            ];
            view = new ol.View({
                projection: 'EPSG:3857',
                center: center,
                zoom: zoom,
                minZoom: minzoom
            });
            map.setView(view);
        }
    });
</script>