
@{
    ViewBag.Title = "Породное районирование сельскохозяйственных животных";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-ui-1.12.0.js"></script>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>

<link href="~/Content/ol.css" rel="stylesheet" />
<script src="~/Scripts/ol.js"></script>

<script src="~/Scripts/loadingoverlay.js"></script>

<style>
    .ui-dialog,
    .ui-dialog:before,
    .ui-dialog:after {
        box-sizing: content-box;
    }

    .toppanel {
        height: 70px;
        background-color: darkgreen;
    }

    .sidepanel {
        background: #d2d2d2;
        width: 350px;
        height: 100%;
        float: right;
        overflow: auto;
    }

    .sidepanel-hide {
        top: .5em;
        right: .5em;
    }

    .map {
        overflow: hidden;
        height: 100%;
    }

    .split {
        height: 40px;
        background-color: #77ab3f;
        color: #ffffff;
        cursor: pointer;
        border: 1px solid black;
        border-color: #d2d2d2;
    }

    .show {
        font-weight: normal;
        display: block;
    }

    .transparancy {
        font-weight: normal;
    }

    .ol-attribution ul {
        font-size: 1rem;
    }

    #layertree li > span {
        cursor: pointer;
        color: #444444;
        font-weight: bold;
    }
</style>

@* Карта *@
<div id="maindiv">
    <div class="toppanel" style="background: url(../Images/Home/fon.jpg) repeat top left;">
        <div style="height: 40px; float: left; margin-top: 10px;width: 72%;">
            <label style="padding: 10px; color: white; font-size: 24px;">
                Породное районирование сельскохозяйственных животных РК
            </label>
        </div>
        <div style="float: right; margin-top: 10px;max-height: 40px;width: 28%;">
            <div>
                <input type="button" title="Меню" class="btn btn-default" onclick="ShowSidePanel()" style="background: url(../Images/Buttons/menu.png) no-repeat top left; background-size: contain; float: right; width: 39px; height: 40px; margin: 6px; margin-right: 12px;" />
                <input type="button" title="Домой" class="btn btn-default" onclick="ToHome()" style="background: url(../Images/Buttons/home.png) no-repeat top left; background-size: contain; float: right; width: 39px; height: 40px; margin: 6px;" />
                <input type="button" title="Поиск области, района, сельского округа" class="btn btn-default" onclick="ShowFindKATO()" style="background: url(../Images/Buttons/search_kato.png) no-repeat top left; background-size: contain; float: right; width: 39px; height: 40px; margin: 6px;" />
                <input type="button" title="Сводная информация" class="btn btn-default" onclick="Info()" style="background: url(../Images/Buttons/stat.png) no-repeat top left; background-size: contain; float: right; width: 39px; height: 40px; margin: 6px;" />
                <input type="button" title="Легенда" class="btn btn-default" onclick="Legend()" style="background: url(../Images/Buttons/legend.png) no-repeat top left; background-size: contain; float: right; width: 39px; height: 40px; margin: 6px;" />
                @Html.DropDownList("MapSources", (IEnumerable<SelectListItem>)ViewBag.MapSources, htmlAttributes: new { @id = "MapSources", @class = "form-control", @style = "float: right; margin: 6px; width: 180px;", @onchange = "ChangeMapSource(this.value)" })
            </div>
        </div>
    </div>
    <div id="mapsidepanel" style="margin-bottom: 10px; width: 100%;">
        <div id="sidepanel" class="sidepanel">
            @* Слои *@
            <div class="split" id="title_layers">
                <label class="split_label">
                    <u>
                        Слои
                    </u>
                </label>
            </div>
            <div id="layertree" style="margin-top: 10px;">
                <ul>
                    <li>
                        <span>
                            <u>
                                Базовые слои
                            </u>
                        </span>
                        @*<fieldset id="layer0">
                                <label class="checkbox" for="visible0">
                                    <input id="visible0" class="visible" type="checkbox" />Отображать
                                </label>
                                <label>Прозрачность</label>
                                <input class="opacity" type="range" min="0" max="100" step="1" />
                            </fieldset>*@
                        <ul>
                            <li>
                                <span>
                                    <label>
                                        <u>
                                            Населенные пункты
                                        </u>
                                    </label>
                                </span>
                                <fieldset id="layer7">
                                    <label class="checkbox" for="visible7">
                                        <input id="visible7" class="visible" type="checkbox" />Отображать
                                    </label>
                                    <label>Прозрачность</label>
                                    <input class="opacity" type="range" min="0" max="100" step="1" />
                                </fieldset>
                            </li>
                            <li>
                                <span>
                                    <label>
                                        <u>
                                            Области, районы, сельские округа
                                        </u>
                                    </label>
                                </span>
                                <fieldset id="layer5">
                                    <label class="checkbox" for="visible5">
                                        <input id="visible5" class="visible" type="checkbox" />Отображать
                                    </label>
                                    <label>Прозрачность</label>
                                    <input class="opacity" type="range" min="0" max="100" step="1" />
                                </fieldset>
                            </li>
                            <li>
                                <span>
                                    <label>
                                        <u>
                                            Дороги
                                        </u>
                                    </label>
                                </span>
                                <fieldset id="layer4">
                                    <label class="checkbox" for="visible4">
                                        <input id="visible4" class="visible" type="checkbox" />Отображать
                                    </label>
                                    <label>Прозрачность</label>
                                    <input class="opacity" type="range" min="0" max="100" step="1" />
                                </fieldset>
                            </li>
                            <li>
                                <span>
                                    <label>
                                        <u>
                                            Реки, озера
                                        </u>
                                    </label>
                                </span>
                                <fieldset id="layer9">
                                    <label class="checkbox" for="visible9">
                                        <input id="visible9" class="visible" type="checkbox" />Отображать
                                    </label>
                                    <label>Прозрачность</label>
                                    <input class="opacity" type="range" min="0" max="100" step="1" />
                                </fieldset>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <u>
                                Породное районирование сельскохозяйственных животных
                            </u>
                        </span>
                        @*<fieldset id="layer1">
                                <label class="checkbox" for="visible1">
                                    <input id="visible1" class="visible" type="checkbox" />Отображать
                                </label>
                                <label>Прозрачность</label>
                                <input class="opacity" type="range" min="0" max="100" step="1" />
                            </fieldset>*@
                        <fieldset id="layer1">
                            <form action="" id="CATOSpecies">
                                <input id="radiosok" type="radio" name="CATO" value="sok" checked> Сельские округи<br>
                                <input id="radioray" type="radio" name="CATO" value="ray"> Районы<br>
                                <input id="radioobl" type="radio" name="CATO" value="obl"> Области<br>
                            </form>
                            <label class="checkbox" for="visible1">
                                <input id="visible1" class="visible" type="checkbox" />Отображать
                            </label>
                            <label>Прозрачность</label>
                            <input class="opacity" type="range" min="0" max="100" step="1" />
                        </fieldset>
                    </li>
                    <li>
                        <span>
                            <u>
                                Фон
                            </u>
                        </span>
                        <fieldset id="layer0">
                            <label class="checkbox" for="visible0">
                                <input id="visible0" class="visible" type="checkbox" />Отображать
                            </label>
                            <label>Прозрачность</label>
                            <input class="opacity" type="range" min="0" max="100" step="1" />
                        </fieldset>
                    </li>
                </ul>
            </div>
        </div>
        <div class="map" id="map_swipe">
            <input id="swipe" type="range" style="width: 100%; max-width: 100%;" value="100" hidden="hidden">
            <div id="map" class="map" style="height: 100%;">
            </div>
        </div>
    </div>
</div>

@* Окно поиска КАТО *@
<div id="dialog_find_kato" title="Поиск области, района, сельского округа" hidden="hidden" style="box-sizing: content-box;">
    <table>
        <tr>
            <td style="padding-left: 10px;">
                @Html.DropDownList("catoobl", null, "", htmlAttributes: new { @Id = "catoobl", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td style="padding-left: 10px;">
                @Html.DropDownList("catoray", Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @Id = "catoray", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td style="padding-left: 10px;">
                @Html.DropDownList("catosok", Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @Id = "catosok", @class = "form-control" })
            </td>
        </tr>
    </table>
</div>

@* Окно информации *@
<div id="dialog_info" title="Сводная информация" hidden="hidden" style="box-sizing: content-box;">
    <table>
        <tr>
            <td style="padding-left: 10px;">
                @Html.DropDownList("catoobl", null, "", htmlAttributes: new { @Id = "catoobl_info", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td style="padding-left: 10px;">
                @Html.DropDownList("catoray", Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @Id = "catoray_info", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td style="padding-left: 10px;">
                @Html.DropDownList("catosok", Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @Id = "catosok_info", @class = "form-control" })
            </td>
        </tr>
    </table>
    <br />
    <input type="button" value="Информация" name="Action" onclick="GetCATOInfo();" class="btn btn-default" />
</div>

@* Окно информации о КАТО *@
<div id="dialog_info_species" title="Сводная информация" hidden="hidden" style="box-sizing: content-box;">
    <table>
        <tr>
            <td>
                Административная единица
            </td>
            <td id="info_CATO" style="padding-left: 10px;"></td>
        </tr>
        <tr>
            <td>
                Тип использования земли
            </td>
            <td id="info_type_k" style="padding-left: 10px;"></td>
        </tr>
    </table>
    <table>
        @*<tr>
                <td>
                    Всего голов
                </td>
                <td id="info_totalgoals" style="padding-left: 10px; text-align: right;"></td>
            </tr>*@
        <tr>
            <td>
                КРС, голов
            </td>
            <td id="info_cattle" style="padding-left: 10px; text-align: right;"></td>
        </tr>
        <tr>
            <td>
                Лошади, голов
            </td>
            <td id="info_horses" style="padding-left: 10px; text-align: right;"></td>
        </tr>
        <tr>
            <td>
                Овцы, голов
            </td>
            <td id="info_smallcattle" style="padding-left: 10px; text-align: right;"></td>
        </tr>
        <tr>
            <td>
                Верблюды, голов
            </td>
            <td id="info_camels" style="padding-left: 10px; text-align: right;"></td>
        </tr>
        <tr>
            <td>
                Всего условных голов (в пересчете на овец)
            </td>
            <td id="info_conditional" style="padding-left: 10px; text-align: right;"></td>
        </tr>
        <tr>
            <td>
                По состоянию на
            </td>
            <td id="info_date" style="padding-left: 10px; text-align: right;"></td>
        </tr>
        <tr>
            <td>
                Численность населения, чел.
            </td>
            <td id="info_population" style="padding-left: 10px; text-align: right;"></td>
        </tr>
        <tr>
            <td>
                Площадь патбищ, га
            </td>
            <td id="info_pastures" style="padding-left: 10px; text-align: right;"></td>
        </tr>
    </table>
    <br />
    <table id="table_info_species"></table>
</div>

@*Окно информации о породе*@
<div id="dialog_info_breed" title="Информация о породе" hidden="hidden" style="box-sizing: content-box;">
    <table id="table_info_breed"></table>
</div>

@* Окно легенды *@
<div id="dialog_legend" title="Легенда" hidden="hidden" style="box-sizing: content-box;">
    <img src="~/Images/Maps/species.jpg" style="width:550px;" />
</div>

<div hidden="hidden">
    @*<input id="WWW" value="@ViewBag.WWW" />*@
</div>

<script>
    $("#maindiv").LoadingOverlay("show");

    var WWW = '@ViewBag.geoserverURL';

    var dialog_info_species = true;
    var dialog_find_kato_first = true;
    var dialog_info_breed_first = true;
    var dialog_info_first = true;
    var dialog_legend_first = true;

    // слой базовый
    var Layer_Base = new ol.layer.Tile({
        source: new ol.source.OSM()
    });

    //// источник данных и слой дорог, населенных пунктов, водоемов
    //var Source_base2 = new ol.source.ImageWMS({
    //    url: WWW + 'Pastures/wms?',
    //    params: {
    //        'LAYERS': 'Pastures:base2',
    //        'VERSION': '1.1.0',
    //        'FORMAT': 'image/png',
    //        //'TILED': true
    //    },
    //    serverType: 'geoserver'
    //});
    //var Layer_base2 =
    //    new ol.layer.Image({
    //        source: Source_base2
    //    });

    // источник данных и слой Гидрография (линии)
    var Source_hdrlin = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:hdrlin',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_hdrlin =
        new ol.layer.Tile({
            source: Source_hdrlin
        });

    // источник данных и слой Гидрография (полигоны)
    var Source_hdrpol = new ol.source.ImageWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:hdrpol',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_hdrpol =
        new ol.layer.Image({
            source: Source_hdrpol
        });

    // источник данных и слой Населённые пункты (точки)
    var Source_poppnt = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:poppnt',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_poppnt =
        new ol.layer.Tile({
            source: Source_poppnt
        });

    // источник данных и слой Населённые пункты (полигоны)
    var Source_poppol = new ol.source.ImageWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:poppol',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_poppol =
        new ol.layer.Image({
            source: Source_poppol
        });

    // источник данных и слой Автодороги и пути (линии)
    var Source_rdslin = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:rdslin',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_rdslin =
        new ol.layer.Tile({
            source: Source_rdslin
        });

    // источник данных и слой adm123pol
    var Source_adm123pol = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:adm123pol',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_adm123pol =
        new ol.layer.Tile({
            source: Source_adm123pol
        });

    // источник данных и слой adm12pol
    var Source_adm12pol = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:adm12pol',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_adm12pol =
        new ol.layer.Tile({
            source: Source_adm12pol
        });

    // источник данных и слой adm1pol
    var Source_adm1pol = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:adm1pol',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_adm1pol =
        new ol.layer.Tile({
            source: Source_adm1pol
        });

    // слой adm123pol
    var Layer_adm123pol =
        new ol.layer.Tile({
            source: Source_adm123pol
        });

    // векторный слой для поиска КАТО
    var Source_select_cato = new ol.source.Vector({});
    var Layer_select_cato = new ol.layer.Vector({
        source: Source_select_cato,
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: 'transparent'
            }),
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 4
            })
        })
    });

    // источник данных и слой species1
    var Source_species1 = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:species1',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_species1 =
        new ol.layer.Tile({
            source: Source_species1
        });

    // источник данных и слой species2
    var Source_species2 = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:species2',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_species2 =
        new ol.layer.Tile({
            source: Source_species2
        });

    // источник данных и слой species3
    var Source_species3 = new ol.source.TileWMS({
        url: WWW + 'Pastures/wms?',
        params: {
            'LAYERS': 'Pastures:species3',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_species3 =
        new ol.layer.Tile({
            source: Source_species3
        });

    // слой species
    var Layer_species =
        new ol.layer.Tile({
            source: Source_species3
        });

    // векторный слой выбранных species
    var Source_select_species = new ol.source.Vector({});
    var Layer_select_species = new ol.layer.Vector({
        source: Source_select_species,
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: [0, 0, 255, 1]
            }),
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 2
            })
        })
    });

    // векторный слой областей (не отображается на карте)
    var Layer_adm1pol_v = new ol.layer.Vector();
    // векторный слой районов (не отображается на карте)
    var Layer_adm2pol_v = new ol.layer.Vector();
    // векторный слой сельских округов (не отображается на карте)
    var Layer_adm3pol_v = new ol.layer.Vector();
    // векторный слой областей
    var url_adm1pol_v = WWW + "Pastures/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=Pastures:adm1pol&outputFormat=text/javascript&format_options=callback:getJson";
    $.ajax({
        jsonp: false,
        jsonpCallback: 'getJson',
        type: 'GET',
        url: url_adm1pol_v,
        async: false,
        dataType: 'jsonp',
        success: function (data_adm1pol_v) {
            Layer_adm1pol_v = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: (new ol.format.GeoJSON()).readFeatures(data_adm1pol_v, {
                        featureProjection: 'EPSG:3857'
                    })
                })
            });
            // векторный слой районов
            var url_adm2pol_v = WWW + "Pastures/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=Pastures:adm2pol&outputFormat=text/javascript&format_options=callback:getJson";
            $.ajax({
                jsonp: false,
                jsonpCallback: 'getJson',
                type: 'GET',
                url: url_adm2pol_v,
                async: false,
                dataType: 'jsonp',
                success: function (data_adm2pol_v) {
                    Layer_adm2pol_v = new ol.layer.Vector({
                        source: new ol.source.Vector({
                            features: (new ol.format.GeoJSON()).readFeatures(data_adm2pol_v, {
                                featureProjection: 'EPSG:3857'
                            })
                        })
                    });
                    // векторный слой сельских округов
                    var url_adm3pol_v = WWW + "Pastures/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=Pastures:adm3pol&outputFormat=text/javascript&format_options=callback:getJson";
                    $.ajax({
                        jsonp: false,
                        jsonpCallback: 'getJson',
                        type: 'GET',
                        url: url_adm3pol_v,
                        async: false,
                        dataType: 'jsonp',
                        success: function (data_adm3pol_v) {
                            Layer_adm3pol_v = new ol.layer.Vector({
                                source: new ol.source.Vector({
                                    features: (new ol.format.GeoJSON()).readFeatures(data_adm3pol_v, {
                                        featureProjection: 'EPSG:3857'
                                    })
                                })
                            });
                            $("#maindiv").LoadingOverlay("hide");
                        }
                    });
                }
            });
        }
    });

    // правая панель
    window.app = {};
    var app = window.app;
    app.ShowHideSidePanel = function (opt_options) {
        var options = opt_options || {};
        var button = document.createElement('button');
        button.id = "sidepanelshowhide";
        button.innerHTML = '«';
        var this_ = this;
        var handleShowHideSidePanel = function () {
            if (document.getElementById("sidepanel").offsetWidth == 0) {
                document.getElementById('sidepanel').setAttribute("style", "width:350px");
                document.getElementById('sidepanel').setAttribute("style", "display:block");
                button.innerHTML = '»';
                map.updateSize();
            }
            else {
                document.getElementById('sidepanel').setAttribute("style", "width:0px");
                document.getElementById('sidepanel').setAttribute("style", "display:none");
                button.innerHTML = '«';
                map.updateSize();
            }
        };
        button.addEventListener('click', handleShowHideSidePanel, false);
        var element = document.createElement('div');
        element.className = 'sidepanel-hide ol-unselectable ol-control';
        element.appendChild(button);
        ol.control.Control.call(this, {
            element: element,
            target: options.target
        });
    }
    ol.inherits(app.ShowHideSidePanel, ol.control.Control);
    function ShowSidePanel() {
        if (document.getElementById("sidepanel").offsetWidth == 0) {
            document.getElementById('sidepanel').setAttribute("style", "width:350px");
            document.getElementById('sidepanel').setAttribute("style", "display:block");
            document.getElementById('sidepanelshowhide').innerHTML = '»';
            map.updateSize();
        }
        else {
            document.getElementById('sidepanel').setAttribute("style", "width:0px");
            document.getElementById('sidepanel').setAttribute("style", "display:none");
            document.getElementById('sidepanelshowhide').innerHTML = '«';
            map.updateSize();
        }
        map.updateSize();
    };

    // элемент карты - информация
    var attribution = new ol.control.Attribution({
        label: 'i',
        collapsed: true,
        tipLabel: ''
    });

    // элемент zoom
    var zoom = new ol.control.Zoom({
        zoomInTipLabel: '',
        zoomOutTipLabel: ''
    });

    // вид
    var view = new ol.View({
        projection: 'EPSG:3857',
        center: [7447522, 6202316],
        zoom: 5
    });

    // карта
    var map = new ol.Map({
        controls: ol.control.defaults({
            attribution: false,
            zoom: false
        }).extend([
            new ol.control.ScaleLine({ units: 'metric' }),
            new app.ShowHideSidePanel(),
            attribution,
            zoom
        ]),
        layers: [
            //Layer_Base,
            //Layer_species,
            //Layer_select_species,
            //Layer_adm123pol,
            //Layer_select_cato,
            //Layer_base2
            Layer_Base,                 // 0
            Layer_species,              // 1
            Layer_select_species,       // 2
            Layer_hdrlin,               // 4
            Layer_rdslin,               // 5
            Layer_adm123pol,            // 6
            Layer_select_cato,          // 7
            Layer_poppol,               // 8
            Layer_poppnt,                // 9
            Layer_hdrpol               // 3
        ],
        target: 'map',
        view: view
    });

    // permalink
    var minzoom;
    if (window.location.hash !== '') {
        var hash = window.location.hash.replace('#map=', '');
        var parts = hash.split('/');
        if (parts.length === 4) {
            var zoom = parseInt(parts[0], 10);
            var center = [
              parseFloat(parts[1]),
              parseFloat(parts[2])
            ];
            view = new ol.View({
                projection: 'EPSG:3857',
                center: center,
                zoom: zoom
            });
            map.setView(view);

            rotation = parseFloat(parts[3]);
        }
    }
    var shouldUpdate = true;
    window.addEventListener('popstate', function (event) {
        if (event.state === null) {
            return;
        }
        map.getView().setCenter(event.state.center);
        map.getView().setZoom(event.state.zoom);
        map.getView().setRotation(event.state.rotation);
        shouldUpdate = false;
    });

    // ограничение карты, permalink
    var ex = map.getView().calculateExtent(map.getSize());
    function onMoveEnd(evt) {
        // permalink
        if (!shouldUpdate) {
            shouldUpdate = true;
            return;
        }
        var center = view.getCenter();
        var hash = '#map=' +
            view.getZoom() + '/' +
            Math.round(center[0] * 100) / 100 + '/' +
            Math.round(center[1] * 100) / 100 + '/' +
            view.getRotation();
        var state = {
            zoom: view.getZoom(),
            center: view.getCenter(),
            rotation: view.getRotation()
        };
        window.history.pushState(state, 'map', hash);

        if ($('#visible7').is(":checked")) {
            if (map.getView().getZoom() < 10) {
                Layer_poppnt.setVisible(false);
            }
            else {
                Layer_poppnt.setVisible(true);
            }
        }
        if ($('#visible9').is(":checked")) {
            if (map.getView().getZoom() < 8) {
                Layer_hdrlin.setVisible(false);
            }
            else {
                Layer_hdrlin.setVisible(true);
            }
        }

        //var map = evt.map;
        //var extent = map.getView().calculateExtent(map.getSize());
        //var bottomLeft = ol.extent.getBottomLeft(extent);
        //var topRight = ol.extent.getTopRight(extent);
        //var exRight = ol.extent.getTopRight(ex)[0];
        //var exLeft = ol.extent.getBottomLeft(ex)[0];
        //var exTop = ol.extent.getTopRight(ex)[1];
        //var exBottom = ol.extent.getBottomLeft(ex)[1];
        //// границы
        //// северо-восток
        //if (topRight[0] > exRight && topRight[1] > exTop) {
        //    var pan = ol.animation.pan({
        //        source: map.getView().getCenter()
        //    });
        //    map.beforeRender(pan);
        //    map.getView().setCenter(
        //            [map.getView().getCenter()[0] - topRight[0] + exRight,
        //            map.getView().getCenter()[1] - topRight[1] + exTop]);
        //}
        //    // юго-восток
        //else if (bottomLeft[1] < exBottom && topRight[0] > exRight) {
        //    var pan = ol.animation.pan({
        //        source: map.getView().getCenter()
        //    });
        //    map.beforeRender(pan);
        //    map.getView().setCenter(
        //            [map.getView().getCenter()[0] - topRight[0] + exRight,
        //            map.getView().getCenter()[1] + exBottom - bottomLeft[1]]
        //           );
        //}
        //    // юго-запад
        //else if (bottomLeft[0] < exLeft && bottomLeft[1] < exBottom) {
        //    var pan = ol.animation.pan({
        //        source: map.getView().getCenter()
        //    });
        //    map.beforeRender(pan);
        //    map.getView().setCenter(
        //            [map.getView().getCenter()[0] + exLeft - bottomLeft[0],
        //            map.getView().getCenter()[1] + exBottom - bottomLeft[1]]
        //           );
        //}
        //    // северо-запад
        //else if (topRight[1] > exTop && bottomLeft[0] < exLeft) {
        //    var pan = ol.animation.pan({
        //        source: map.getView().getCenter()
        //    });
        //    map.beforeRender(pan);
        //    map.getView().setCenter(
        //            [map.getView().getCenter()[0] + exLeft - bottomLeft[0],
        //            map.getView().getCenter()[1] - topRight[1] + exTop]
        //           );
        //}
        //    // восток
        //else if (topRight[0] > exRight) {
        //    var pan = ol.animation.pan({
        //        source: map.getView().getCenter()
        //    });
        //    map.beforeRender(pan);
        //    map.getView().setCenter(
        //            [map.getView().getCenter()[0] - topRight[0] + exRight,
        //            map.getView().getCenter()[1]]
        //           );
        //}
        //    // юг
        //else if (bottomLeft[1] < exBottom) {
        //    var pan = ol.animation.pan({
        //        source: map.getView().getCenter()
        //    });
        //    map.beforeRender(pan);
        //    map.getView().setCenter(
        //            [map.getView().getCenter()[0],
        //            map.getView().getCenter()[1] + exBottom - bottomLeft[1]]
        //           );
        //}
        //    // запад
        //else if (bottomLeft[0] < exLeft) {
        //    var pan = ol.animation.pan({
        //        source: map.getView().getCenter()
        //    });
        //    map.beforeRender(pan);
        //    map.getView().setCenter(
        //            [map.getView().getCenter()[0] + exLeft - bottomLeft[0],
        //            map.getView().getCenter()[1]]
        //           );
        //}
        //    // север
        //else if (topRight[1] > exTop) {
        //    var pan = ol.animation.pan({
        //        source: map.getView().getCenter()
        //    });
        //    map.beforeRender(pan);
        //    map.getView().setCenter(
        //            [map.getView().getCenter()[0],
        //            map.getView().getCenter()[1] - topRight[1] + exTop]
        //           );
        //}
    }
    map.on('moveend', onMoveEnd);

    // функция нажатия на карту
    map.on('singleclick', function (evt) {

        Source_select_species.clear();

        document.getElementById("info_CATO").innerHTML = "";
        //document.getElementById("info_totalgoals").innerHTML = "";
        document.getElementById("info_cattle").innerHTML = "";
        document.getElementById("info_horses").innerHTML = "";
        document.getElementById("info_smallcattle").innerHTML = "";
        document.getElementById("info_camels").innerHTML = "";
        document.getElementById("info_conditional").innerHTML = "";
        document.getElementById("info_date").innerHTML = "";
        document.getElementById("table_info_species").innerHTML = "";
        document.getElementById("info_type_k").innerHTML = "";
        document.getElementById("info_population").innerHTML = "";
        document.getElementById("info_pastures").innerHTML = "";

        var viewResolution = (view.getResolution());

        var url_species = Layer_species.getSource().getGetFeatureInfoUrl(
            evt.coordinate, viewResolution, 'EPSG:3857',
            {
                'INFO_FORMAT': 'text/javascript',
                'propertyName': 'objectid,geom'
            });

        if (url_species) {

            // данные со слоев
            jQuery.ajax({
                jsonp: false,
                jsonpCallback: 'getJson',
                type: 'GET',
                url: url_species + "&format_options=callback:getJson",
                async: false,
                dataType: 'jsonp',
                error: function () {
                }
            }).then(function (data) {

                // если слой species включен
                if (Layer_species.getVisible()) {
                    // работа со species в виде вектора (выделение species)
                    var polyFeature = new ol.Feature({
                        geometry: new ol.geom.MultiPolygon(data.features[0].geometry.coordinates)
                    });
                    Source_select_species.addFeature(polyFeature);

                    // получение информации о species
                    var type = 0;
                    if ($('input[name=CATO]:checked', '#CATOSpecies').val() == 'sok') {
                        type = 3;
                    }
                    if ($('input[name=CATO]:checked', '#CATOSpecies').val() == 'ray') {
                        type = 2;
                    }
                    if ($('input[name=CATO]:checked', '#CATOSpecies').val() == 'obl') {
                        type = 1;
                    }

                    $.ajax({
                        url: '@Url.Action("GetCATOSpeciesInfo")',
                        data: JSON.stringify({ "objectid": data.features[0].properties.objectid, "type": type }),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            document.getElementById("info_CATO").innerHTML = data.CATO;
                            //document.getElementById("info_totalgoals").innerHTML = data.totalgoals;
                            document.getElementById("info_cattle").innerHTML = data.cattle;
                            document.getElementById("info_horses").innerHTML = data.horses;
                            document.getElementById("info_smallcattle").innerHTML = data.smallcattle;
                            document.getElementById("info_camels").innerHTML = data.camels;
                            document.getElementById("info_conditional").innerHTML = data.conditional;
                            document.getElementById("info_date").innerHTML = data.date;
                            document.getElementById("info_type_k").innerHTML = data.type_k;
                            document.getElementById("info_population").innerHTML = data.population;
                            document.getElementById("info_pastures").innerHTML = data.pastures;
                            var content = "<table>"
                            for (i = 0; i < data.catospecies.length; i++) {
                                content += '<tr><td>' + data.catospecies[i].Type + '</td>'
                                    + '<td style="padding-left: 10px;">' + data.catospecies[i].Breed + '</td>'
                                    + '<td style="padding-left: 10px;">' + '<a href="" style="color: blue;" onClick="return More(' + data.catospecies[i].Code + ')"><i><font size="1">Подробнее</font></i></a>' + '</td>' + '</tr>';
                            }
                            content += "</table>"
                            $('#table_info_species').append(content);

                        },
                        error: function () {
                        }
                    });
                    // отображение информации о species
                    if (dialog_info_species) {
                        dialog_info_species = false;
                        $("#dialog_info_species").dialog({
                            width: 500,
                            height: 400,
                            position: { my: "right", at: "center", of: window }
                        });
                    }
                    else {
                        $("#dialog_info_species").dialog({});
                    }
                }
            });
        }
    });

    // смена базового слоя
    function ChangeMapSource(val) {
        if (val == 'OpenStreetMap') {
            var Source = new ol.source.OSM({});
            Layer_Base.setSource(Source);
        }
        if (val == 'ArcGIS') {
            var attribution = new ol.Attribution({
                html: 'Tiles © <a href="http://services.arcgisonline.com/ArcGIS/' +
                    'rest/services/World_Topo_Map/MapServer">ArcGIS</a>'
            });
            var Source = new ol.source.XYZ({
                attributions: [attribution],
                url: 'http://server.arcgisonline.com/ArcGIS/rest/services/' +
                    'World_Topo_Map/MapServer/tile/{z}/{y}/{x}'
            });
            Layer_Base.setSource(Source);
        }
        if (val == 'Bing') {
            var Source = new ol.source.BingMaps({
                key: 'AjVI_sNKERaeUVpMkNw8Xci1a-5HlLKZAVHayk_jg9dutb1dM5NCeA_d7bzT_0Rp',
                imagerySet: 'Road'
            });
            Layer_Base.setSource(Source);
        }
        if (val == 'BingAerial') {
            var Source = new ol.source.BingMaps({
                key: 'AjVI_sNKERaeUVpMkNw8Xci1a-5HlLKZAVHayk_jg9dutb1dM5NCeA_d7bzT_0Rp',
                imagerySet: 'AerialWithLabels'
            });
            Layer_Base.setSource(Source);
        }
    };

    // домой
    function ToHome() {
        map.getView().fit([5175092, 7455797, 9719952, 4948835], map.getSize());
        $("#MapSources").val("OpenStreetMap");
        var Source = new ol.source.OSM({});
        Layer_Base.setSource(Source);
        Source_select_pasturepol.clear();
        Source_found_pasturepol.clear();
        Source_select_cato.clear();
        $("#catoobl").val('');
        $("#catoray").val('');
        $("#catoray").empty();
        $("#catosok").val('');
        $("#catosok").empty();
    };

    // отображать, скрывать слои; настраивать их прозрачность
    function bindInputs(layerid, layer) {
        var visibilityInput = $(layerid + ' input.visible');
        visibilityInput.on('change', function () {
            layer.setVisible(this.checked);
            layer.setVisible(this.checked);
            if (layerid == '#layer1') {
                Layer_select_species.setVisible(this.checked);
            }
            if (layerid == '#layer9') {
                Layer_hdrlin.setVisible(this.checked);
                if (map.getView().getZoom() < 8) {
                    Layer_hdrlin.setVisible(false);
                }
            }
            if (layerid == '#layer5') {
                Layer_select_cato.setVisible(this.checked);
            }
            if (layerid == '#layer7') {
                Layer_poppnt.setVisible(this.checked);
                if (map.getView().getZoom() < 10) {
                    Layer_poppnt.setVisible(false);
                }
            }
        });
        visibilityInput.prop('checked', layer.getVisible());
        var opacityInput = $(layerid + ' input.opacity');
        opacityInput.on('input change', function () {
            layer.setOpacity(parseFloat(this.value / 100));
            if (layerid == '#layer1') {
                Layer_select_species.setOpacity(parseFloat(this.value / 100));
            }
            if (layerid == '#layer9') {
                Layer_hdrlin.setOpacity(parseFloat(this.value / 100));
            }
            if (layerid == '#layer5') {
                Layer_select_cato.setOpacity(parseFloat(this.value / 100));
            }
            if (layerid == '#layer7') {
                Layer_poppnt.setOpacity(parseFloat(this.value / 100));
            }
        });
        opacityInput.val(String(layer.getOpacity() * 100));
        if (map.getView().getZoom() < 10) {
            Layer_poppnt.setVisible(false);
        }
        if (map.getView().getZoom() < 8) {
            Layer_hdrlin.setVisible(false);
        }
    };
    map.getLayers().forEach(function (layer, i) {
        bindInputs('#layer' + i, layer);
    });
    $('#layertree li > span').click(function () {
        $(this).siblings('fieldset').toggle();
    }).siblings('fieldset').hide();
    $('#title_layers').click(function () {
        $('#layertree').toggle();
    })

    // окно поиска КАТО
    function ShowFindKATO() {
        if (dialog_find_kato_first) {
            dialog_find_kato_first = false;
            $("#dialog_find_kato").dialog({
                width: 350,
                height: 240,
            });
        }
        else {
            $("#dialog_find_kato").dialog({});
        }
    };

    // поиск области
    $("#catoobl").change(function () {
        if (document.getElementById("catoobl").options[document.getElementById("catoobl").selectedIndex].value == '') {
            $("#catoray").empty();
            $("#catosok").empty();
            Source_select_cato.clear();
        }
        else {
            $("#catosok").empty();
            for (var f = 0; f < Layer_adm1pol_v.getSource().getFeatures().length; f++) {
                if (Layer_adm1pol_v.getSource().getFeatures()[f].get('kato_te') == document.getElementById("catoobl").options[document.getElementById("catoobl").selectedIndex].value) {
                    // копирование области в векторный слой для поиска КАТО
                    Source_select_cato.clear();
                    var polyFeature = new ol.Feature({
                        geometry: Layer_adm1pol_v.getSource().getFeatures()[f].getGeometry()
                    });
                    Source_select_cato.addFeature(polyFeature);
                    // формирование списка районов
                    $.ajax({
                        url: '@Url.Action("GetCATORayons")',
                        data: JSON.stringify({ "oblcatote": Layer_adm1pol_v.getSource().getFeatures()[f].get('kato_te') }),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $("#catoray").empty();
                            $.each(data, function (i, d) {
                                $('#catoray').append($('<option></option>').val(d.TE).html(d.Name));
                            });
                        },
                        error: function () {
                        }
                    });
                    var extent = Layer_adm1pol_v.getSource().getFeatures()[f].getGeometry().getExtent();
                    map.getView().fit(extent, map.getSize());
                    break;
                }
            }
        }
    });

    // поиск района
    $("#catoray").change(function () {
        if (document.getElementById("catoray").options[document.getElementById("catoray").selectedIndex].value == '') {
            $("#catosok").empty();
            Source_select_cato.clear();
        }
        else {
            for (var f = 0; f < Layer_adm2pol_v.getSource().getFeatures().length; f++) {
                if (Layer_adm2pol_v.getSource().getFeatures()[f].get('kato') == document.getElementById("catoray").options[document.getElementById("catoray").selectedIndex].value) {
                    // копирование района в векторный слой для поиска КАТО
                    Source_select_cato.clear();
                    var polyFeature = new ol.Feature({
                        geometry: Layer_adm2pol_v.getSource().getFeatures()[f].getGeometry()
                    });
                    Source_select_cato.addFeature(polyFeature);
                    // формирование списка сельских округов
                    $.ajax({
                        url: '@Url.Action("GetCATOSOkrugs")',
                        data: JSON.stringify({ "raycatote": Layer_adm2pol_v.getSource().getFeatures()[f].get('kato') }),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $("#catosok").empty();
                            $.each(data, function (i, d) {
                                $('#catosok').append($('<option></option>').val(d.TE).html(d.Name));
                            });
                        },
                        error: function () {
                        }
                    });
                    var extent = Layer_adm2pol_v.getSource().getFeatures()[f].getGeometry().getExtent();
                    map.getView().fit(extent, map.getSize());
                    break;
                }
            }
        }
    });

    // поиск сельского округа
    $("#catosok").change(function () {
        if (document.getElementById("catosok").options[document.getElementById("catosok").selectedIndex].value == '') {
            $("#catosok").empty();
            Source_select_cato.clear();
        }
        else {
            for (var f = 0; f < Layer_adm3pol_v.getSource().getFeatures().length; f++) {
                if (Layer_adm3pol_v.getSource().getFeatures()[f].get('kato_te') == document.getElementById("catosok").options[document.getElementById("catosok").selectedIndex].value) {
                    // копирование сельского округа в векторный слой для поиска КАТО
                    Source_select_cato.clear();
                    var polyFeature = new ol.Feature({
                        geometry: Layer_adm3pol_v.getSource().getFeatures()[f].getGeometry()
                    });
                    Source_select_cato.addFeature(polyFeature);
                    var extent = Layer_adm3pol_v.getSource().getFeatures()[f].getGeometry().getExtent();
                    map.getView().fit(extent, map.getSize());
                    break;
                }
            }
        }
    });

    // окно информации
    function Info() {
        // формирование списка районов
        document.getElementById("catoobl_info").selectedIndex = document.getElementById("catoobl").selectedIndex;
        $("#catoray_info").empty();
        if (document.getElementById("catoobl_info").selectedIndex > 0) {
            $.ajax({
                url: '@Url.Action("GetCATORayons")',
                data: JSON.stringify({ "oblcatote": document.getElementById("catoobl_info").options[document.getElementById("catoobl_info").selectedIndex].value }),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#catoray_info").empty();
                    $.each(data, function (i, d) {
                        $('#catoray_info').append($('<option></option>').val(d.TE).html(d.Name));
                    });
                    document.getElementById("catoray_info").selectedIndex = document.getElementById("catoray").selectedIndex;
                    // формирование списка сельских округов
                    document.getElementById("catoray_info").selectedIndex = document.getElementById("catoray").selectedIndex;
                    $("#catosok_info").empty();
                    if (document.getElementById("catoray_info").selectedIndex > 0) {
                        $.ajax({
                            url: '@Url.Action("GetCATOSOkrugs")',
                            data: JSON.stringify({ "raycatote": document.getElementById("catoray_info").options[document.getElementById("catoray_info").selectedIndex].value }),
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                $("#catosok_info").empty();
                                $.each(data, function (i, d) {
                                    $('#catosok_info').append($('<option></option>').val(d.TE).html(d.Name));
                                });
                                document.getElementById("catosok_info").selectedIndex = document.getElementById("catosok").selectedIndex;
                            },
                            error: function () {
                            }
                        });
                    }
                },
                error: function () {
                }
            });
        }
        if (dialog_info_first) {
            dialog_info_first = false;
            $("#dialog_info").dialog({
                width: 350,
                height: 240,
            });
        }
        else {
            $("#dialog_info").dialog({});
        }
    };

    // поиск области (информация)
    $("#catoobl_info").change(function () {
        if (document.getElementById("catoobl_info").options[document.getElementById("catoobl_info").selectedIndex].value == '') {
            $("#catoray_info").empty();
            $("#catosok_info").empty();
            Source_select_cato.clear();
        }
        else {
            $("#catosok_info").empty();
            for (var f = 0; f < Layer_adm1pol_v.getSource().getFeatures().length; f++) {
                if (Layer_adm1pol_v.getSource().getFeatures()[f].get('kato_te') == document.getElementById("catoobl_info").options[document.getElementById("catoobl_info").selectedIndex].value) {
                    // копирование области в векторный слой для поиска КАТО
                    Source_select_cato.clear();
                    var polyFeature = new ol.Feature({
                        geometry: Layer_adm1pol_v.getSource().getFeatures()[f].getGeometry()
                    });
                    Source_select_cato.addFeature(polyFeature);
                    // формирование списка районов
                    $.ajax({
                        url: '@Url.Action("GetCATORayons")',
                        data: JSON.stringify({ "oblcatote": Layer_adm1pol_v.getSource().getFeatures()[f].get('kato_te') }),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $("#catoray_info").empty();
                            $.each(data, function (i, d) {
                                $('#catoray_info').append($('<option></option>').val(d.TE).html(d.Name));
                            });
                        },
                        error: function () {
                        }
                    });
                    var extent = Layer_adm1pol_v.getSource().getFeatures()[f].getGeometry().getExtent();
                    map.getView().fit(extent, map.getSize());
                    break;
                }
            }
        }
    });

    // поиск района (информация)
    $("#catoray_info").change(function () {
        if (document.getElementById("catoray_info").options[document.getElementById("catoray_info").selectedIndex].value == '') {
            $("#catosok_info").empty();
            Source_select_cato.clear();
        }
        else {
            for (var f = 0; f < Layer_adm2pol_v.getSource().getFeatures().length; f++) {
                if (Layer_adm2pol_v.getSource().getFeatures()[f].get('kato') == document.getElementById("catoray_info").options[document.getElementById("catoray_info").selectedIndex].value) {
                    // копирование района в векторный слой для поиска КАТО
                    Source_select_cato.clear();
                    var polyFeature = new ol.Feature({
                        geometry: Layer_adm2pol_v.getSource().getFeatures()[f].getGeometry()
                    });
                    Source_select_cato.addFeature(polyFeature);
                    // формирование списка сельских округов
                    $.ajax({
                        url: '@Url.Action("GetCATOSOkrugs")',
                        data: JSON.stringify({ "raycatote": Layer_adm2pol_v.getSource().getFeatures()[f].get('kato') }),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $("#catosok_info").empty();
                            $.each(data, function (i, d) {
                                $('#catosok_info').append($('<option></option>').val(d.TE).html(d.Name));
                            });
                        },
                        error: function () {
                        }
                    });
                    var extent = Layer_adm2pol_v.getSource().getFeatures()[f].getGeometry().getExtent();
                    map.getView().fit(extent, map.getSize());
                    break;
                }
            }
        }
    });

    // поиск сельского округа (информация)
    $("#catosok_info").change(function () {
        if (document.getElementById("catosok_info").options[document.getElementById("catosok_info").selectedIndex].value == '') {
            $("#catosok_info").empty();
            Source_select_cato.clear();
        }
        else {
            for (var f = 0; f < Layer_adm3pol_v.getSource().getFeatures().length; f++) {
                if (Layer_adm3pol_v.getSource().getFeatures()[f].get('kato_te') == document.getElementById("catosok_info").options[document.getElementById("catosok_info").selectedIndex].value) {
                    // копирование сельского округа в векторный слой для поиска КАТО
                    Source_select_cato.clear();
                    var polyFeature = new ol.Feature({
                        geometry: Layer_adm3pol_v.getSource().getFeatures()[f].getGeometry()
                    });
                    Source_select_cato.addFeature(polyFeature);
                    var extent = Layer_adm3pol_v.getSource().getFeatures()[f].getGeometry().getExtent();
                    map.getView().fit(extent, map.getSize());
                    break;
                }
            }
        }
    });

    // информация о КАТО
    function GetCATOInfo() {
        document.getElementById("info_CATO").innerHTML = "";
        //document.getElementById("info_totalgoals").innerHTML = "";
        document.getElementById("info_cattle").innerHTML = "";
        document.getElementById("info_horses").innerHTML = "";
        document.getElementById("info_smallcattle").innerHTML = "";
        document.getElementById("info_camels").innerHTML = "";
        document.getElementById("info_conditional").innerHTML = "";
        document.getElementById("info_date").innerHTML = "";
        document.getElementById("table_info_species").innerHTML = "";
        document.getElementById("info_type_k").innerHTML = "";
        document.getElementById("info_population").innerHTML = "";
        document.getElementById("info_pastures").innerHTML = "";
        // получение информации о species
        var type = 0;
        var objectid = 0;
        if (document.getElementById("catosok_info").selectedIndex>0) {
            type = 3;
            objectid = document.getElementById("catosok_info").options[document.getElementById("catosok_info").selectedIndex].value
        }
        else if (document.getElementById("catoray_info").selectedIndex>0) {
            type = 2;
            objectid = document.getElementById("catoray_info").options[document.getElementById("catoray_info").selectedIndex].value
        }
        else if (document.getElementById("catoobl_info").selectedIndex>0) {
            type = 1;
            objectid = document.getElementById("catoobl_info").options[document.getElementById("catoobl_info").selectedIndex].value
        }
        $.ajax({
            url: '@Url.Action("GetCATOSpeciesInfo")',
            data: JSON.stringify({ "objectid": objectid, "type": type, "fromcato": true }),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                document.getElementById("info_CATO").innerHTML = data.CATO;
                //document.getElementById("info_totalgoals").innerHTML = data.totalgoals;
                document.getElementById("info_cattle").innerHTML = data.cattle;
                document.getElementById("info_horses").innerHTML = data.horses;
                document.getElementById("info_smallcattle").innerHTML = data.smallcattle;
                document.getElementById("info_camels").innerHTML = data.camels;
                document.getElementById("info_conditional").innerHTML = data.conditional;
                document.getElementById("info_date").innerHTML = data.date;
                document.getElementById("info_type_k").innerHTML = data.type_k;
                document.getElementById("info_population").innerHTML = data.population;
                document.getElementById("info_pastures").innerHTML = data.pastures;
                var content = "<table>"
                for (i = 0; i < data.catospecies.length; i++) {
                    content += '<tr><td>' + data.catospecies[i].Type + '</td>'
                        + '<td style="padding-left: 10px;">' + data.catospecies[i].Breed + '</td>'
                        + '<td style="padding-left: 10px;">' + '<a href="" style="color: blue;" onClick="return More(' + data.catospecies[i].Code + ')"><i><font size="1">Подробнее</font></i></a>' + '</td>' + '</tr>';
                }
                content += "</table>"
                $('#table_info_species').append(content);

            },
            error: function () {
            }
        });
        // отображение информации о species
        if (dialog_info_species) {
            dialog_info_species = false;
            $("#dialog_info_species").dialog({
                width: 500,
                height: 400,
                position: { my: "right", at: "center", of: window }
            });
        }
        else {
            $("#dialog_info_species").dialog({});
        }
    };

    // изменение слоя: сельский округ, район, область
    $("input[name=CATO]:radio").change(function () {
        if ($(this).val() == 'sok') {
            Layer_adm123pol.setSource(Source_adm123pol);
            Layer_species.setSource(Source_species3);
        }
        else
            if ($(this).val() == 'ray') {
                Layer_adm123pol.setSource(Source_adm12pol);
                Layer_species.setSource(Source_species2);
            }
            else
                if ($(this).val() == 'obl') {
                    Layer_adm123pol.setSource(Source_adm1pol);
                    Layer_species.setSource(Source_species1);
                }
    });

    // Подробная информация о породе
    function More(Code) {
        document.getElementById("table_info_breed").innerHTML = "";
        $.ajax({
            url: '@Url.Action("GetBreedInfo")',
            data: JSON.stringify({ "Code": Code }),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var content = "<table>"
                for (i = 0; i < data.breedinfo.length; i++) {
                    content += '<tr><td>' + data.breedinfo[i].Name + '</td>'
                        + '<td style="padding-left: 10px;">' + data.breedinfo[i].Value + '</td></tr>';
                }
                content += '<tr><td>' + 'Фото' + '</td>'
                        + '<td style="padding-left: 10px;">' + '<img src="' + data.photo + '" style="max-width: 350px;" />' + '</td></tr>';
                content += "</table>"
                $('#table_info_breed').append(content);
            },
            error: function () {
            }
        });
        // отображение информации о породе
        if (dialog_info_breed_first) {
            dialog_info_breed_first = false;
            $("#dialog_info_breed").dialog({
                width: 500,
                height: 600,
                position: { my: "left", at: "center", of: window }
            });
        }
        else {
            $("#dialog_info_breed").dialog({});
        }
        return false;
    };

    // окно легенды
    function Legend() {
        if (dialog_legend_first) {
            dialog_legend_first = false;
            $("#dialog_legend").dialog({
                width: 580,
                height: 500,
            });
        }
        else {
            $("#dialog_legend").dialog({});
        }
    };

    $(document).ready(function (e) {
        $.getScript("http://code.jquery.com/ui/1.12.0/jquery-ui.min.js", function (data, textStatus, jqxhr) {
        });

        $("#MapSources").val("OpenStreetMap");

        // высота карты
        $("#mapsidepanel").height($(window).height() - 220);
        if ($("#mapsidepanel").height() < 440) {
            $("#mapsidepanel").height(440);
        }

        // скрыть правую панель
        document.getElementById('sidepanel').setAttribute("style", "width:0px");
        document.getElementById('sidepanel').setAttribute("style", "display:none");

        //домой
        map.getView().fit([5175092, 7455797, 9719952, 4948835], map.getSize());
        map.updateSize();
        map.getView().fit([5175092, 7455797, 9719952, 4948835], map.getSize());

        ex = map.getView().calculateExtent(map.getSize());

        view = new ol.View({
            projection: 'EPSG:3857',
            center: [7447522, 6202316],
            zoom: map.getView().getZoom(),
            minZoom: map.getView().getZoom()
        });
        map.setView(view);

        // permalink
        var hash = window.location.hash.replace('#map=', '');
        var parts = hash.split('/');
        if (parts.length === 4) {
            var zoom = parseInt(parts[0], 10);
            var center = [
              parseFloat(parts[1]),
              parseFloat(parts[2])
            ];
            view = new ol.View({
                projection: 'EPSG:3857',
                center: center,
                zoom: zoom,
                minZoom: minzoom
            });
            map.setView(view);
        }
    });

    window.addEventListener('resize', function (event) {
        // высота карты
        $("#mapsidepanel").height($(window).height() - 220);
        if ($("#mapsidepanel").height() < 440) {
            $("#mapsidepanel").height(440);
        }

        // скрыть правую панель
        document.getElementById('sidepanel').setAttribute("style", "width:0px");
        document.getElementById('sidepanel').setAttribute("style", "display:none");
        var button = document.getElementById('sidepanelshowhide');
        button.innerHTML = '«';

        //домой
        map.getView().fit([5175092, 7455797, 9719952, 4948835], map.getSize());
        map.updateSize();
        map.getView().fit([5175092, 7455797, 9719952, 4948835], map.getSize());

        ex = map.getView().calculateExtent(map.getSize());

        view = new ol.View({
            projection: 'EPSG:3857',
            center: [7447522, 6202316]
        });
        map.setView(view);

        // permalink
        var hash = window.location.hash.replace('#map=', '');
        var parts = hash.split('/');
        if (parts.length === 4) {
            var zoom = parseInt(parts[0], 10);
            var center = [
                parseFloat(parts[1]),
                parseFloat(parts[2])
            ];
            view = new ol.View({
                projection: 'EPSG:3857',
                center: center,
                zoom: zoom,
                minZoom: minzoom
            });
            map.setView(view);
        }
    });
</script>