@model Pastures.Models.CATO

@{
    ViewBag.Title = "Детали";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Детали</h2>

<div>
    <h4>CATO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HIJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.K)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.K)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameKZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameKZ)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Обратно к списку", "Index")
</p>
