@{
    ViewBag.Title = "Главная";
}

<style>
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
</style>

<div class="jumbotron" style="padding: 0px;">
    <img src="../Images/Home/fron_fage150.jpg" alt="" style="width: 100%;" />
    @*<img src="../Images/Home/logo.png" style="position: absolute; top: 90px; right: 70px;" />
    <h1 style="position: absolute; top: 90px; left: 70px;" >
        rstnryyrn
    </h1>*@
    @*<h1>Кормовые ресурсы Республики Казахстан</h1>
    <p class="lead">Описание</p>
    <p>@Html.ActionLink("Карта", "FodderResources", "Maps", null, new { @class = "btn btn-primary btn-lg" })</p>*@
</div>

@if (ViewBag.Authenticated == false)
{
    <div class="container" >
        <div class="col-md-4" style="width: 100%; border:1px solid; border-color:darkgrey;">
            <h3>Кормовые ресурсы Республики Казахстан</h3>
            <p>Картографирование кормовых угодий в масштабе 1:1 500 000 осуществлялось в программном продукте ArcGIS 10.1 путем экспертного дешифрирования космических снимков Landsat и MODIS 2014-2015 гг. Все выделенные кормовые ресурсы Казахстана систематизированы по составу растительности и экологическим уровням. Группы пастбищ определены по совокупности растительных сообществ (или их комплексов) близких по флористическому составу, условиям местообитания. Группы пастбищ объединяются в классы на основании преобладания определенных  экобиоморф. Классы, в свою очередь, объединены в отделы – по крупным формам рельефа с определенными гидрогеологическими условиями.  Каждый из выделенных контуров групп пастбищ сопровождается полной характеристикой кормовых ресурсов, с указанием принадлежности к тому или иному классу и отделу, а также урожайности, качества в кормовом отношении и др. Функционал карты позволяет отобразить местоположение кормовых ресурсов каждого выдела в разрезе административных единиц.</p>
            <p>На карте кормовых ресурсов Казахстана выделено 307 групп пастбищ, рассчитан кормозапас по каждой выделенной группе и занесен в атрибутивную таблицу базы геоданных. Для заполнения информации о контурах (выделах легенды) частично использовались данные карты кормовых угодий Казахской ССР.</p>
            <p>@Html.ActionLink("Карта", "FodderResources", "Maps", null, new { @class = "btn btn-default", @style = "background-color: #77ab3f;" })</p>
        </div>
        <div class="col-md-4" style="width:100%;">
            <h4><em>Для доступа к остальным картам, пожалуйста, зарегистрируйтесь.</em></h4>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="col-md-4" style="width: 100%; border:1px solid; border-color:darkgrey; border-bottom: 0px;">
            <h3>Кормовые ресурсы Республики Казахстан</h3>
            <p>Картографирование кормовых угодий в масштабе 1:1 500 000 осуществлялось в программном продукте ArcGIS 10.1 путем экспертного дешифрирования космических снимков Landsat и MODIS 2014-2015 гг. Все выделенные кормовые ресурсы Казахстана систематизированы по составу растительности и экологическим уровням. Группы пастбищ определены по совокупности растительных сообществ (или их комплексов) близких по флористическому составу, условиям местообитания. Группы пастбищ объединяются в классы на основании преобладания определенных  экобиоморф. Классы, в свою очередь, объединены в отделы – по крупным формам рельефа с определенными гидрогеологическими условиями.  Каждый из выделенных контуров групп пастбищ сопровождается полной характеристикой кормовых ресурсов, с указанием принадлежности к тому или иному классу и отделу, а также урожайности, качества в кормовом отношении и др. Функционал карты позволяет отобразить местоположение кормовых ресурсов каждого выдела в разрезе административных единиц.</p>
            <p>На карте кормовых ресурсов Казахстана выделено 307 групп пастбищ, рассчитан кормозапас по каждой выделенной группе и занесен в атрибутивную таблицу базы геоданных. Для заполнения информации о контурах (выделах легенды) частично использовались данные карты кормовых угодий Казахской ССР.</p>
            <p>@Html.ActionLink("Карта", "FodderResources", "Maps", null, new { @class = "btn btn-default", @style = "background-color: #77ab3f;" })</p>
        </div>
        <div class="col-md-4" style="width: 100%; border:1px solid; border-color:darkgrey; border-bottom: 0px;">
            <h3>Земельный запас Республики Казахстан</h3>
            <p>При составлении карты земельного запаса для перспектив развития отгонного животноводства Казахстана в масштабе 1:1 500 000, был использован значительный объем разновременных космических снимков, картографической и фондовой информации, дающей разнообразные сведения о земельном запасе Казахстана. Использование статистического и фондового материала районных и областных акиматов, Министерства сельского хозяйства РК  и Агентства Республики Казахстан по статистике за 2005-2015 годы, позволило проанализировать динамику изменения пастбищ земельного запаса. На основе составленной картографической модели рассчитан кормозапас пастбищ земель запаса (тыс. ц). Проведено ранжирование пастбищ земель запаса по среднегодовой урожайности (воздушной сухой массы) на основе, созданной в рамках проекта карты кормовых угодий.</p>
            <p>@Html.ActionLink("Карта", "LandSupply", "Maps", null, new { @class = "btn btn-default", @style = "background-color: #77ab3f;" })</p>
        </div>
        <div class="col-md-4" style="width: 100%; border:1px solid; border-color:darkgrey; border-bottom: 0px;">
            <h3>Породное районирование сельскохозяйственных животных Республики Казахстан</h3>
            <p>При составлении карты породного районирования сельскохозяйственных животных Казахстана в масштабе 1:1 500000, был использован значительный объем разновременной информации, дающей разнообразные сведения о породном районировании животных Казахстана. Использование статистического и фондового материала районных и областных акиматов, Министерства сельского хозяйства РК  и Агентства Республики Казахстан по статистике за 2005-2015 годы, позволило проанализировать динамику численности племенного скота.</p>
            <p>@Html.ActionLink("Карта", "Species", "Maps", null, new { @class = "btn btn-default", @style = "background-color: #77ab3f;" })</p>
        </div>
        <div class="col-md-4" style="width: 100%; border:1px solid; border-color:darkgrey; border-bottom: 0px;">
            <h3>Нагрузка сельскохозяйственных животных на пастбища Республики Казахстан</h3>
            <p>Основным методическим приемом при составлении карты нагрузки сельскохозяйственных животных на пастбища Казахстан в масштабе 1:1 500 000, является определение допустимых норм нагрузки сельскохозяйственных животных на фоновые и деградированные пастбища в рамках природных границ кормовых угодий с учетом их природных свойств, преобладающих типов пастбищ и степени их деградации, типа почв и механического состава, особенностей рельефа, климата, обводненности территорий и др.</p>
            <p>В основу расчета норм допустимой нагрузки сельскохозяйственных животных на пастбища была положена методика, разработанная ТОО «КазНИИ животноводства и кормопроизводства» на основе практического опыта содержания животных на пастбищах, и адаптированная авторами данного проекта для составления данной карты. При составлении карты нагрузки сельскохозяйственных животных определялись допустимую нагрузку сельскохозяйственных животных (при переводе их в условные головы овец) на 100 га пастбищ. Для установления допустимых норм пастбищной нагрузки были рассчитаны показатели средней урожайности зеленого корма за пастбищный период для каждой группы типов пастбищ, выделенных на карте кормовых угодий.</p>
            <p>@Html.ActionLink("Карта", "PasturesBurden", "Maps", null, new { @class = "btn btn-default", @style = "background-color: #77ab3f;" })</p>
        </div>
        <div class="col-md-4" style="width: 100%; border:1px solid; border-color:darkgrey;">
            <h3>Обводнение пастбищ Республики Казахстан</h3>
            <p>Создание карты обводнение пастбищ Казахстана в масштабе 1:1 500 000 осуществлялось в программном продукте ArcGIS 10.0, путем оцифровывания существующих колодцев и скважин с топографических карт масштаба 1:200 000 и 1:100 000. Использовались материалы обследования пастбищных колодцев и скважин проведенные КазНИИ водного хозяйства МСХ РК в 2013-2015 годы, материалы инвентаризации колодцев на землях сельскохозяйственного назначения проведенные РГП «ГИСХАГИ» РК, данных Института гидрогеологии и геоэкологии им. У.А. Ахмедсафина.</p>
            <p>@Html.ActionLink("Карта", "Wells", "Maps", null, new { @class = "btn btn-default", @style = "background-color: #77ab3f;" })</p>
        </div>
    </div>
}